/*
 * Dandelion Admin v2.0 - Table Stylesheet
 *
 * This file is part of Dandelion Admin, an Admin template build for sale at ThemeForest.
 * For questions, suggestions or support request, please mail me at maimairel@yahoo.com
 *
 * Development Started:
 * March 25, 2012
 * Last Update:
 * December 07, 2012
 *
 */

/* General Table Styling
================================================== */


.da-table {
    width: 100%;
    border: 1px solid #cacaca;
    border-collapse: separate;
}

.da-table td, 
.da-table th {
    padding: 7px 20px;
    text-align: left;
    outline: none;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    border-left: 1px solid #cacaca;
}

.da-table th {
    position: relative;
    font-weight: bold;
    padding: 11px 20px;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 3%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(3%, #f7f7f7), color-stop(100%, #eee));
    background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 3%, #eee 100%);
    background: -o-linear-gradient(top, #fff 0%, #f7f7f7 3%, #eee 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 3%, #eee 100%);
    background: linear-gradient(to bottom, #fff 0%, #f7f7f7 3%, #eee 100%);
}

.da-table thead tr th:first-child,
.da-table tbody tr td:first-child {
    border-left: 0;
}

.da-table thead:first-child tr:first-child th,
.da-table tbody:first-child tr:first-child th,
.da-table tbody:first-child tr:first-child td {
    border-top: 0;
}

.da-table tr td.da-icon-column {
    text-align: center;
    width: 80px;
}

.da-table tr td.da-icon-column img {
    margin: 0 2px;
}

.da-table tr:nth-child(odd) {
    background-color: #f4f4f4;
}

.da-table tr:nth-child(even) {
    background-color: #fcfcfc;
}

/* Checkable Table
================================================== */

.da-table.checkable .checkbox-column {
    text-align: center;
    width: 24px;
}

/* Detail View Table
================================================== */

.da-table.da-detail-view tbody th {
    width: 120px;
    border: 1px solid #cacaca;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 3%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(3%, #f7f7f7), color-stop(100%, #eee));
    background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 3%, #eee 100%);
    background: -o-linear-gradient(top, #fff 0%, #f7f7f7 3%, #eee 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 3%, #eee 100%);
    background: linear-gradient(to bottom, #fff 0%, #f7f7f7 3%, #eee 100%);
}

.da-table.da-detail-view tbody tr th, 
.da-table.da-detail-view tbody tr td {
    border-bottom: none;
    border-left: none;
}

.da-table.da-detail-view .null {
    color: #f2618c;
}

/* Data Table Styling
================================================== */

.dataTables_wrapper {
    background-color: #fcfcfc;
    border: 1px solid #cacaca;
    border-top: 0;
}

.dataTables_wrapper {
    *zoom: 1;
}

.dataTables_wrapper:before,
.dataTables_wrapper:after {
    display: table;
    content: "";
    line-height: 0;
}

.dataTables_wrapper:after {
    clear: both;
}

.dataTables_wrapper .da-table {
    border: none;
    border-bottom: 1px solid #cacaca;
}

.dataTables_wrapper .da-table thead:first-child tr:first-child th,
.dataTables_wrapper .da-table tbody:first-child tr:first-child th,
.dataTables_wrapper .da-table tbody:first-child tr:first-child td {
    border-top: 1px solid #cacaca;
}

.dataTables_wrapper .da-table tr th:first-child,
.dataTables_wrapper .da-table tr td:first-child {
    border-left: 0;
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_paginate {
    display: block;
    float: left;
    padding: 16px 12px;
    line-height: 22px;
}

.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_paginate {
    float: right;
}

.dataTables_wrapper select {
    width: auto;
}

.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_previous, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_next, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_previous, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_next, 
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button, 
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f3f3f3;
    cursor: pointer;
    line-height: 1;
    color: #444;
    outline: none;
    vertical-align: top;
    border: 1px solid #b1b1b1;
    text-align: center;
    margin-left: 6px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
}

.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_previous, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_next, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_previous, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_next {
    width: 20px;
    height: 20px;
    text-indent: -9999px;
}

.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button, 
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active {
    width: auto;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    font-size: 11px;
}

.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_next, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_next {
    background-image: url(../images/dt-arrow-right.png);
}

.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_previous, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_previous {
    background-image: url(../images/dt-arrow-left.png);
}

.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_next, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_disabled_previous, 
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button.paginate_button_disabled {
    background-color: #fefefe;
    border-color: #e0e0e0;
    cursor: default;
    color: #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
}

.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_previous:active, 
.dataTables_wrapper .dataTables_paginate.paging_two_button .paginate_enabled_next:active, 
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_button:not(.paginate_button_disabled):active, 
.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active:not(.paginate_button_disabled):active {
    background-color: #efefef;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active:not(.paginate_button_disabled):active {
    background-color: #a9ca60;
}

.dataTables_wrapper .dataTables_paginate.paging_full_numbers .paginate_active {
    background-color: #aed063;
    border-color: #a4b970;
    color: #fff;
}

.dataTables_wrapper .sorting, 
.dataTables_wrapper .sorting_asc, 
.dataTables_wrapper .sorting_desc {
    cursor: pointer;
}

.dataTables_wrapper .sorting:after, 
.dataTables_wrapper .sorting:before, 
.dataTables_wrapper .sorting_asc:after, 
.dataTables_wrapper .sorting_desc:after, 
.dataTables_wrapper .sorting_asc_disabled:after, 
.dataTables_wrapper .sorting_desc_disabled:after {
    font-family: 'caret';
    color: #555;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    width: 16px;
    height: 12px;
    line-height: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.dataTables_wrapper .sorting:after {
    content: "\f0d7";
    margin-top: -3px;
}

.dataTables_wrapper .sorting:before {
    content: "\f0d8";
    margin-top: -9px;
}

.dataTables_wrapper .sorting_asc:after, 
.dataTables_wrapper .sorting_asc_disabled:after {
    content: "\f0d7";
}

.dataTables_wrapper .sorting_desc:after, 
.dataTables_wrapper .sorting_desc_disabled:after {
    content: "\f0d8";
}


/* Media Queries
================================================== */

@media only screen and (max-width: 480px) {
    .da-table thead th {
        overflow: hidden;
        padding: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dataTables_wrapper .dataTables_length, 
    .dataTables_wrapper .dataTables_filter, 
    .dataTables_wrapper .dataTables_info, 
    .dataTables_wrapper .dataTables_paginate {
        display: block;
        float: none;
        text-align: center;
        padding: 6px;
    }
}
