body{
	background-color: #d6d6d6;
	font-family: 'font open sans', sans-serif;
	font-size: 13px;
}
label {
	font-family: 'font open sans', sans-serif;
	text-transform: capitalize;
	letter-spacing: 0;
	cursor: default;
	font-size: inherit;
	margin-bottom: 5px;
	font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "font open sans", sans-serif;
	color: #272727;
}
.panel.panel-login{
	max-width: 400px;
	box-shadow: 0 0 9px 0 rgba(0,0,0,.3);
	border-radius: 5px;
}
.panel.panel-register{
	max-width: 800px;
	box-shadow: 0 0 9px 0 rgba(0,0,0,.3);
	border-radius: 5px;
}
.panel.panel-preview{
	max-width: 600px;
	box-shadow: 0 0 9px 0 rgba(0,0,0,.3);
	border-radius: 5px;
}
.content-wrap{
	background-color: transparent;
	padding: 40px 0;
}
#content{
	background-color: transparent;
}
.panel-default > .panel-heading{
	background:linear-gradient(45deg, #fdfdfd,#49b3e8);
	border-color: #ffad05;
}
.panel-heading {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 3px solid transparent;
}
.panel-body{
	position: relative;
}
.panel-body .triangle{
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid #ffad05;
	transform: translate(-50%,0%);
	left: 50%;
	top: 0;
}

.copyright-text{
	font-size: 11px;
}
.font-weight-light{
	font-weight: 300;
}
.font-weight-normal{
	font-weight: normal;
}
.font-weight-semibold{
	font-weight: 500;
}
.font-weight-bold{
	font-weight: 600;
}
.d-cursor{
	cursor: pointer;
}
.form-control:active, .form-control:focus {
	border-color: #49b3e8;
	box-shadow: none;
}
.font-size-13{
	font-size: 13px;
}
.box-logo{
	display: block;
	position: relative;
	margin: auto auto 0 auto;
	max-width: 300px;
	height: 40px;
	z-index: 999;
}
.box-logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.btn.btn-blue{
	background-color: #49b3e8;
    border: 1px solid #33a8e3;
	color: #fff;
}
.btn.btn-blue:hover{
	background-color:#299ed8;
	border:1px solid #299ed8;
	color: #fff;
}
.alert{
	padding: 10px;
	font-size: 12px;
}
.required{
	color:red;
}
.form-control{
	font-size: 13px;
	margin-bottom: 5px;
}
select.form-control:not([size]):not([multiple]) {
	height: 34px;
	padding-top: 7px;
}
h4.title-h4{
	font-weight: 300;
}
h4.title-h4:after{
	content: '';
	width: 40px;
	height: 3px;
	border-radius: 2px;
	background-color: #4db5e9;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}
.box-dashed{
	display: block;
	padding: 10px;
	border-radius: 2px;
	border: 1px dashed #b9b7b7;
	background-color: #f3f3f3;
}
.media-check{
	display: flex;
	align-items:flex-start;
}
.media-check input[type="radio"], .media-check input[type="checkbox"]{
	margin-top: 3px;
}
.media-check .media-body-check{
	display: block;
	margin-left: 10px;
}
.value-right{
	display: flex;
}
.value-right span{
	margin-right: 10px;
}
dd{
	margin-bottom: 5px !important;
}
.close {
	font-size: 1.2rem;
	line-height: .9;
	cursor: pointer;
}
.text-success {
	color: #3c763d !important;
}
a.text-success:hover,
a.text-success:focus {
	color: #2b542c !important;
}
.text-info {
	color: #31708f !important;
}
a.text-info:hover,
a.text-info:focus {
	color: #245269 !important;
}
.text-warning {
	color: #8a6d3b !important;
}
a.text-warning:hover,
a.text-warning:focus {
	color: #66512c !important;
}
.text-danger {
	color: #a94442 !important;
}
a.text-danger:hover,
a.text-danger:focus {
	color: #843534 !important;
}
.panel-heading{
	position: relative;
	overflow: hidden;
}
.panel-heading .bg-polygon{
    display: block;
    position: absolute;
    width: 500px;
    top: 0;
    right: 0;
    z-index: 2;
}

/*mobile*/
@media (max-width: 479px){
	.container{
		width: auto !important;
	}
}
@media (max-width: 767px){
	.value-right span{
		display: none;
	}
	.box-logo {
	    height: 30px;
	}
}