/*animation*/
.no-js #loader{
    display: none;
}
.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0; 
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif) center no-repeat #fff;
    /*img/preloader_2.gif*/
}
/*/*/
/*slider carousel*/
.owl-carousel .owl-nav [class*=owl-]:hover {
    background-color: #49b3e8 !important;
}
.owl-carousel .owl-dots .owl-dot span{
    /* background-color: #fff !important; */
}
.owl-carousel .owl-dots .owl-dot{
    margin-top: 0 !important;
}
.oc-item .image-splash{
    width: 100%;
    /* max-width: 700px; */
    height: auto;
}
.oc-item .image-splash img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*/*/
/*modal img close*/
.md-close{
    padding: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    line-height: .5;
    font-size: 11px !important;
    position: absolute;
    right: 0;
    margin-top: -10px !important;
    margin-right: -10px !important;
    z-index: 999999;
}
.md-close:hover{
    color: #fff;
    background-color: #000;
}
.md-overlay{
    background: rgba(0, 0, 0, 0.7);
}
.md-content > div {
    padding: 10px;
}
.md-trigger{
    display: none;
}
.md-modal .md-content{
    width: 70%;
    height: 95%;
}
.md-show.md-effect-11 .md-content{
    transform: scale(1.2);
}
.md-modal {
    /*max-width: 500px;
    min-width:280px;
    height: auto;*/
    /*width: 70%;
    height: 95%;*/
}
/*.md-modal .md-content{
    display: block;
    position: relative;
    width: 70%;
    height: 95%;
}*/
.md-content{
    border-radius: 8px;
    background: transparent;
}
.link-img{
    display: block;
    opacity: 1;
    transition: .3s;
}
.link-img:hover{
    opacity: .7;
    transition: .3s;
}
button{
    cursor: pointer;
}
/*/*/
.label-contact{
    font-size: 13px;
}
.border-header:first-child{
    border-left:0px dashed #fff;
    padding-left: 0;
    padding-right: 10px;
}
.border-header{
    border-left:1px dashed #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -5px;
}
.border-header:last-child{
    border-left:0px dashed #fff;
    padding-left: 5;
    padding-right: 0px;
}
.fa-ul {
    list-style-type: none;
    margin-left: 25px;
    padding-left: 0;
    margin-bottom: 15px;
}
.fa-li {
    left: -25px;
    position: absolute;
    text-align: left;
    width: 25px;
    line-height: inherit;
}
body {
    color: #333333;
    font-size: 18px;
    font-family: 'font open sans';
    background: linear-gradient(45deg, #f3fbff 30%, #49b3e8 90%);
}
ul[Attributes Style] {
    list-style-type: none !important;
}
/*ol, ul {
    padding-left: 15px;
}*/

.panel.panel-green{
    border:1px solid #77b023;
    margin-bottom: 10px;
    border-radius: 5px;

}
.panel-green .panel-heading{
    padding: 10px;
    background: #77b023;
    font-weight: 700;
    color: #fff;
}
.panel-green .panel-body{
    padding: 10px;
}
.text-success {
    color: #77ae2b !important;
}
.bg-1,.bg-2,.bg-3{
    height: 340px;
    overflow-y: auto;
}
.bg-1{
    background-color: #77b023;
}
.bg-2{
    background-color: #8ac82e;
    border-left: 1px dashed #fff;
}
.bg-3{
    background-color: #77b023;
    border-left: 1px dashed #fff;
}
}
.p-slim::first-child{
    padding-left: 15px;
    padding-right: 2px; 
}
.p-slim{
    padding-left: 2px;
    padding-right: 2px; 
}
.p-slim::last-child{
    padding-left: 2px;
    padding-right: 15px; 
}
.frame-event-2 .link-event{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255,.7);
    transition: .3s;
    z-index: 9;
}
.frame-event .link-event{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255,.7);
    transition: .3s;
    z-index: 9;
}
.frame-event-2 .link-event:hover{
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: rgb(10, 60, 166,.3);
    transition: .3s;
}
.frame-event .link-event:hover{
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: rgb(70, 175, 228,.3);
    transition: .3s;
}
.frame-event-2{
    display: block;
    max-width: 300px;
    height: 220px;
    padding: 5px;
    background: #fff;
    border:1px solid #cecece;
    overflow: hidden;
    position: relative;
    margin: 2px auto 2px auto;
}
.frame-event{
    display: block;
    max-width: 300px;
    height: 220px;
    padding: 5px;
    background: #fff;
    border:1px solid #fff;
    overflow: hidden;
    position: relative;
    margin: 2px auto 2px auto;
    box-shadow: 0 0 8px rgba(0,0,0,.19);
}
.frame-event-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.frame-event img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.frame-produk{
    display: block;
    margin: 10px auto 10px auto; 
    max-width: 600px;
    height: 400px;
    border: 6px solid #fff;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.17);
}
.frame-produk img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.frame-profil{
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin: 10px auto 15px auto;
    border-radius: 5px;
    box-shadow: 0 0 0px #d2d2d2;
    border: 2px solid #44ade2;
    background: #fff;
    overflow: hidden;
}
.frame-profil img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.box-marketing-plan{
    display: block;
    max-width: 300px;
    height: 300px;
    margin: auto auto 15px auto;
}
.box-marketing-plan img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.box-title-panel-2 {
    display: inline-block;
    padding: 10px;
    background-color: #f34800;
    border-radius: 2px;
    margin-bottom: 25px;
    position: relative;
}
.box-title-panel-2::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f34800;
    border-bottom: 10px solid transparent;
    left: 30px;
    transform: translate(-50%,-50%);
    bottom: -30px;
}
.box-title-panel{
    display: block;
    padding: 10px;
    background-color: #45aee3;
    border-radius: 2px;
    margin-bottom: 25px;
    position: relative;
}
.box-title-panel::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #45aee3;
    border-bottom: 10px solid transparent;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: -30px;
}
.box-title-panel h3{
    font-weight: 500;
    color: #000;
}
.box-perusahaan-1 img{
    max-width: 350px;
    border-radius: 2px;
    position: relative;
    z-index: 8;
    float: right;
    margin-bottom: 40px;
    margin-top: 40px;
}
.box-perusahaan-2 img{
    width: 250px;
    position: absolute;
    margin-top: -20px;
    margin-left: 40px;
    z-index: 7;
}
.box-perusahaan-3 img{
    width: 150px;
    position: absolute;
    margin-top: 110px;
    margin-left: 10px;
}
.media {
    display: flex;
    align-items: center;
}

.konten-img-profil {
    display: block;
    max-width: 600px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 1px #d2d2d2;
    margin-bottom: 15px;
}
.media-icon-download{
    width: 70px;
    height: 70px;
    padding: 10px;
    background: linear-gradient(45deg, #b4e6ff 0%, #49b3e8 70%);
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 1;
    border-radius: 10px;
    border: 4px solid #fff;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.2);
    position: relative;
}
.media-icon-kontak{
    width: 50px;
    height: 50px;
    padding: 10px;
    background: linear-gradient(45deg, #b4e6ff 0%, #49b3e8 70%);
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0 0 9px 0 rgba(0,0,0, .2);
    text-align: center;
    font-size: 25px;
    line-height: .9;
    border-radius: 50%;
    position: relative;
}
.media-icon{
    width: 70px;
    height: 70px;
    padding: 10px;
    background: #77b023;
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
    border-radius: 2px;
    position: relative;
}
.media-icon::before {
    content: '';
    transform: translate(-50%,-50%);
    top: 50%;
    right: -13px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #77b023;
}
.position-relative{
    position: relative;
    display: block;
}
section.electronic-banner-area{
    position: relative;
}

.pt-first{
    padding-top: 80px;
}
.pb-first{
    padding-bottom: 80px;
}

.body-konten-berita {
    display: block;
    max-width: 400px;
    margin-bottom: 15px;
}
.font-weight-semibold{
    font-weight: 500;
}
.font-weight-bold{
    font-weight: 600;
}
.frame-img-berita{
    display: block;
    max-width: 400px;
    height: 200px;
    overflow: hidden;
    margin: auto auto 10px auto;
}
.frame-img-berita img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-img{
    max-width: 400px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
}
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.title-pengumuman{
    margin-bottom: 10px;
}
.open-pengumuman{
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #efefef;
    color: #000;
}

.open-pengumuman:hover{
    background-color: #ddd;
    color: #000;
}
.box-pengumuman{
    border-radius:2px;
    border:1px solid #ddd;
}
.slide-pengumuman .owl-dots{
    display: block;
    text-align: center;
}
.banner-slider .owl-dots{
    display: block;
    top: 100%;
    transform: translate(-50%,-50%);
    left: 50%;
    position: absolute;
    margin-top: 15%;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    margin-top: 30px;
}

.owl-carousel .owl-dots .owl-dot span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    opacity: 0.5;
    border-radius: 50%;
    background-color: #585b5a;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.banner-slider .owl-dots .owl-dot span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    opacity: 0.5;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
/* a.marketing-plan:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
} */

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span { opacity: 1; }
.konten-pengumuman{
    max-width: 400px;
    height: 350px;
    margin: auto;
    display: block;
    padding: 10px;
    
    overflow:hidden; 
}
/* Owl Carousel - Controls - Arrows
-----------------------------------------------------------------*/

.owl-carousel.slide-pengumuman .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: -36px;
    zoom: 1;
    width: 36px;
    height: 36px;
    line-height: 32px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #666;
    background-color: #FFF;
    font-size: 18px;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-carousel.slide-pengumuman.with-carousel-dots .owl-nav [class*=owl-] { margin-top: -38px; }

.owl-carousel-full .owl-nav [class*=owl-] {
    margin-top: -30px;
    left: 0 !important;
    height: 60px;
    line-height: 60px;
    border: none;
    color: #EEE;
    background-color: rgba(0,0,0,0.4);
    font-size: 28px;
    border-radius: 0 3px 3px 0;
}

.owl-carousel-full .with-carousel-dots .owl-nav [class*=owl-] { margin-top: -50px; }

.owl-carousel.slide-pengumuman  .owl-nav .owl-next {
    left: auto;
    right: -36px;
}

.owl-carousel-full  .owl-nav .owl-next {
    left: auto !important;
    right: 0 !important;
    border-radius: 3px 0 0 3px;
}

.owl-carousel.slide-pengumuman:hover .owl-nav [class*=owl-] {
    opacity: 1;
    left: -18px;
    text-align: center;
}

.owl-carousel.slide-pengumuman:hover .owl-nav .owl-next {
    left: auto;
    right: -18px;
}

.owl-carousel.slide-pengumuman .owl-nav [class*=owl-]:hover {
    background-color: #525252 !important;
    color: #FFF !important;
    text-decoration: none;
}

.owl-carousel.slide-pengumuman .owl-nav .disabled { display: none !important; }


/* Owl Carousel - Controls - Dots
-----------------------------------------------------------------*/

.circle-list{
    display: block;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fdfdfd 5%,#49b3e8 80%);
    margin: auto 25px auto 0;
    text-align: center;
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 1.4;
    color: #fff;
    border: 4px solid #fff;
    box-shadow: 0 0px 15px 5px rgba(0,0,0,.2);
}
.list-konten{
    max-width: 350px;
}
.list-konten span{
    color: #656565;
    font-size: 17px;
}
.bg-polygon{
    display: block;
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
}
.z-index-22{
    z-index: 22;
}
.flex-1{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
h1 > span:not(.nocolor), h2 > span:not(.nocolor), h3 > span:not(.nocolor), h4 > span:not(.nocolor), h5 > span:not(.nocolor), h6 > span:not(.nocolor) {
    color: inherit;
}
/*header*/
.d-flex-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.d-flex-menu nav{
    /* width: 70%; */
    width: 85%;
    margin-left: -20px;
}
.d-flex-menu .header-akun{
    /* width: 30%; */
}
a.logo-menu{
    width: 100px;
    /* width: 170px; */
    height: 50px;
    display: inline-block;
}
a.logo-menu img{
    width: 100%;
    height:100%;
    object-fit: contain;
    object-position: center;
    margin-right: 25px;
}
/*nav ul.main-menu{
    margin-top: 10px;
}*/
.header-top-area {
    border-bottom: 0px solid #efefef;
    background-color: #fff;
    padding: 8px 0;
}
.sticky-header {
    /*background: #252424;*/
    background: rgba(255,255,255,0);
}
.main-menu li a{
    font-weight: 600;
    display: inline-block;
    line-height: 40px;
    padding: 0 5px;
    /* padding: 0 15px; */
    background-color: transparent;
    margin-right: 10px;
    border-top: 0px solid transparent;
    color: inherit;
    font-size: 12px;
    /* font-size: 14px; */
    margin-right: 3px;
    margin-left: 3px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}
p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 10px;
}
.main-menu li.drop-menu a:hover{
    color: #272727;
}
.font-weight-500{
    font-weight: 500;
}
.text-orange{
    color: #ff7400;
}
.text-blue{
    color: #000080;
}
.slider-parallax .bg-shadow {
    position: absolute;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, rgba(0,0,0,.6), transparent);
    z-index: 3;
    transform: translate(-50%,0%);
    left: 50%;
    top: 0;
}
.order-wrapper .bold-lable {
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}
.desc-details-2{
    display: block;
    margin-left: 240px;
}
.kutip-1 {
    width: 100%;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}
.kutip-2 {
    float: right;
    width: 100%;
    transform: rotate(180deg);
    display: block;
}
.img-kutip {
    width: 30px;
}
.pagination a {
    line-height: 25px;
    font-size: 13px;
}
.bg-thead{
    background: linear-gradient(to top, #2b2a2a,#545354);
    color: #fff;
}
.box-img-2{
    /*width: 1300px;*/
    width: 200px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    /*background: #eee;*/
    background: linear-gradient(to top, #eda852,#ed528e);
    border-radius: 50%;
    overflow:hidden;
    padding: 5px;
    float: left;
}
.img-icon-bank-2 {
    width: 60px;
}
.img-icon-bank {
    width: 70px;
}
.box-img-in-2{
    width: 190px;
    height: 190px;
    display: block;
    border-radius: 50%;
}

.box-img .box-img-in{
    /*width: 1300px;
    height: 230px;*/
    width: 230px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    background: transparent;
}
.box-img-in{
    width: 100%;
    display: block;
    position: relative;
}
.single-organic-product:hover .discount {
    background-image: -webkit-linear-gradient(135deg, #ed528e  0%, #ed528e  100%) !important;
}
.img-box{
    width: 230px;
    margin: auto;
    display: block;
    transition: .3s;
}
.img-box:hover{
    opacity: .7;
    transition: .3s;
}
.organic-section-title-left h3:before {
    width: 2000px;
}
.main-menu li a i.fa-home {
    background: -webkit-linear-gradient(-180deg, #c3c2c2, #c3c2c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    color: #fff;
}
.main-menu li a:hover i.fa-home , .main-menu li a.current i.fa-home{
    background: -webkit-linear-gradient(-180deg, #77b023, #77b023);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    color: #fff;
}
.main-menu{
    float: inherit;
    text-transform: uppercase;
    font-weight: 400;
    justify-content: center;
}
.organic-section-title-left {
    text-align: center;
}
.organic-section-title-left h3 {
    margin-left: 0px;
    text-transform: capitalize;
}
.ml-ul{
    margin-left: 110px;
    /*margin-top: 35px;*/
    margin-top: 18px;
}
.single-organic-product.versi-custom{
    transition: 0.5s;
    padding: 5px;
}
.single-organic-product.versi-custom:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    transition: 0.5s;
}
.details-tab-navigation .nav-link.active, .nav-link:hover{
    background-image: -webkit-linear-gradient(135deg, #bdbdbd 0%, #bdbdbd 100%)!important;
}
.img-call{
    width: 100px;
    display: block;
    float: left;
    margin-right: 10px;
}
.li-position{
    margin-left: 17px;
}
.lnr-position{
    margin-left: -18px;
}

.view-btn.color-1:after , .owl-controls .owl-nav .owl-prev:after,.owl-controls .single-item:after{
    background-image: -webkit-linear-gradient(135deg, #0a3ca6 0%, #0a3ca6 100%) !important;
}
.view-btn.color-1:after , .owl-controls .owl-nav .owl-next:after,.owl-controls .single-item:after{
    background-image: -webkit-linear-gradient(135deg, #0a3ca6 0%, #0a3ca6 100%) !important;
}
.banner-area.electronic-banner-area{
    background-image: -webkit-linear-gradient(135deg, #faa57c 0%, #da1e67 100%);
}
.pagination a.active,.pagination a:hover {
    background-image: -webkit-linear-gradient(135deg, #909090 0%, #909090 100%) !important;
}
.main-menu li a.current:before{
    content: '';
    width: 100%;
    height: 8px;
    background-color: #ffad05;
    border-radius: 0 0 5px 5px;
    position: relative;
    display: block;
    top: -16px;
    margin: auto;
}
.main-menu li a:hover:before{
    content: '';
    width: 100%;
    height: 8px;
    background-color: #ffad05;
    border-radius: 0 0 5px 5px;
    position: relative;
    display: block;
    top: -16px;
    margin: auto;
}
.main-menu li a:before{
    content: '';
    width: 100%;
    height: 8px;
    background-color: transparent;
    border-radius: 0 0 5px 5px;
    position: relative;
    display: block;
    top: -20px;
    margin: auto;
}
.main-menu li a.current{
    display: inline-block;
    line-height: 40px;
    background: transparent;
    border-radius: 0px;
    color: rgba(255,255,255,1);
    /*border-bottom: 2px solid #fff;*/
    box-shadow: none;
}
.main-menu li{
    color: #fff;
    letter-spacing: 1px;
}
.main-menu li:hover {
     background-color: transparent;
     color: #000 !important;
     
}
.main-menu li a:hover{
    color: rgba(255,255,255,.8);
    box-shadow: none;
    background: transparent;
    /*border-bottom: 2px solid #fff;*/
    margin-right: 3px;
    margin-left: 3px;
}
/*.main-menu li a{
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 2px;
    border-top: 0px solid #77b023;
    color: #fff;
    box-shadow: none;
}*/
.main-menu li.drop-menu a:hover > a {
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 2px;
    border-top: 0px solid #77b023;
    color: #272727;
    box-shadow: none;
}
footer .text-footer-grey{
    color: #e0e0e0;
}
.konten-footer {
    display: inline-block;
    position: relative;
    margin-right: 350px;
    text-align: right;
}
footer .footer-widget {
    padding: 50px 0;
}
.single-footer-widget ul li a {
    color: #272727;
    font-size: 16px;
}
.single-footer-widget{
    font-size: 16px;
}
.single-footer-widget ul li a:hover {
    color: #757474;
}
.box-logo-footer{
    margin-top: 30px;
    display: block;
    width: 150px;
    height: 60px;
    padding: 5px;
    box-shadow: 0 0 0px 0 rgba(0,0,0,.2);
    border-radius: 20px;
    background-color: transparent;
    margin: auto auto 15px auto;
}
.box-logo-footer img{
    width: 100%;
    height:100%;
    object-fit: contain;
    object-position: center;
}
.alamat-footer{
    display: block;
    max-width: 400px;
    margin:auto auto 40px auto;
    text-align: center;
    color: #a5a5a5;
    font-size: 13px;
}
.circle-sosmed{
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 8px;
    line-height: 1;
    border-radius: 50%;
    border: 2px solid #9f9f9f;
    background-color: #fff;
    color: #ffad05 !important;
    text-align: center;
}
.circle-sosmed:hover{
    background-color: #9f9f9f;
    color: #fff !important;
}
.ul-somed li{
    display: inline-block;
}
.copyright-text, .copyright-text a{
    color: #757575;
}
.maps{
    display: block;
    float: none;
    margin-left: 0;
    top: 0;
    position: relative;
    right: 0;
    margin-bottom: 20px;
    max-width: 350px;
    height: 200px;
}
.single-footer-widget p{
    color: #636363;
    margin-bottom: 5px;
}
.keranjang{
    color: #c3c3c9 !important;
    font-size: 20px;
}
.shortcut-icon .top-cart .cart-count{
    background: -webkit-linear-gradient(135deg, #ed518e 0%, #ed518e 100%) !important;
}
.footer-bottom:after {
    height: 1px;
    width: 100%;
    /*background-image: -webkit-linear-gradient(left, #333333, #77b023, #333333);*/
    background-image: none;
    border: 0;

}

.copyrights-footer{
    border-top: 1px solid #3c3c3c;
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}
.sticky-header:after {
    height: 3px;
    width: 100%;
    background-image: transparent;
    border: 0;
    content: "";
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    display: block;
}
.footer-bottom .copyright-text {
    margin: 0;
    color: #e5e5e5;
}
.footer-bottom .copyright-text a {
    color: #e5e5e5 !important;
}
.copyright-text:after{
    content: '';
    width: 100px;
    height: 6px;
    background-color: #45ade2;
    border-radius: 5px 5px 0 0;
    position: relative;
    display: block;
    bottom: -15px;
    margin: auto;
}
.default-header{
    /*height: 100px;*/
    position: relative;
    width: 100%;
    z-index: 99;
    background-color: transparent;
/*    top: 0;*/
}
.header-electronics .header-middle {
    padding: 14px 0 10px 0;
}
.swiper-slide{
    /* height:100% !important; */
    top: 83px;
}
@media only screen and (max-width: 988px) {
    .swiper-slide{
        top: 0px;
    }
}
.swiper-parent{
    height:100% !important;
}
.slider-parallax-inner{
    height:100% !important;
}
#slide-number{
    display: none;
}
header.header-electronics  + .main-container .slider-parallax .slider-parallax-inner {
    top: 0;
}
.default-header.fixed{
    background: linear-gradient(45deg, #f3fbff 5%, #49b3e8 80%) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*opacity:0;*/
    /*visibility:visible;*/
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,.7);
    transition: all 0.3s ease;
    /*transform:translate(0, -50px);*/
}

.default-header.in-view{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translate(0,0);
}
.akses{
    color: #fff;
}
.akses:hover, .akses:focus{
    color: #d6ff9a;
}
/*slider fixed*/
/*.default-header.shrunk {
    height:auto;
    background-color: #000080;
    position: fixed;
}
.default-header { 
    transition: all 0.3s ease;
}*/
/*/*/
ul.main-menu{
    margin-bottom: 8px;
}
/*/header*/
/*menu mobile*/
.parent i {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
.icon-menu{
    display: none;
}
ul.submenu{
    margin-left: 15px;
}
ul.submenu li{
    list-style: none;
}
.logo-mobile{
    display: none;
}
.click_li{
    cursor: pointer;
}
.click_li:hover{
    color: #ff9b00 !important;
}

/*ul.submenu> a.active{
    color: #ff9b00 !important;
    display: block !important;
}*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #181818;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  cursor: default;
}

.sidenav a {
    padding: 5px 5px 5px 25px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
    line-height: 1;
}

.sidenav a:hover {
  color: #49b3e8;
}
.sidenav a.active {
    color: #49b3e8;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    margin-left: 50px;
}
.sidebar-auth{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    margin-top: 15px;
}
.auth{
    display: block;
    width: 50%;
    margin-right: 5px;
}


a.link-auth {
    padding: 10px;
    display: block;
    border-radius: 5px;
    border:1px solid #fff;
    color: #fff;
    text-align: center;
}
a.link-auth:hover{
    border:1px solid #ffad05;
    color: #ffad05;
}
a.link-auth-2 {
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 1px solid #ffad05;
    color: #fff;
    background-color: #ffad05;
    text-align: center;
}
a.link-auth-2:hover{
    border:1px solid #fff;
    background-color: #fff;
    color: #000;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
ul.konten-sidebar{
    margin-left: 25px;
    margin-top: 25px;
    font-size: 13px;
}
ul.konten-sidebar li{
    list-style: none;
    margin-bottom: 10px;
}
/*/*/
/*konten*/
.text-grey-smoth{
    color: #9d9d9d;
}
.text-dark{
    color: #333333;
}
.circle-cart{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    font-size: 27px;
    background: radial-gradient(circle, #fff 20%,#d1d1d1 100%);
    box-shadow: 0 0 0 7px rgba(121, 121, 121, .5);
    color: #77b023;
    text-align: center;
    position: fixed;
    right: 0;
    margin-right: 20px;
    bottom:0;
    margin-bottom: 20px;
    transition: .5s;
    z-index: 99999;
}
.circle-cart:hover{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    font-size: 27px;
    /*background: #d9d7d8;*/
    background: radial-gradient(circle, #fff 20%,#d1d1d1 100%);
    /*box-shadow: 1px 2px 15px 2px #d9d9d9;*/
    box-shadow: 0 0 0 7px #ed518e;
    color: #000;
    text-align: center;
    position: fixed;
    right: 0;
    margin-right: 20px;
    bottom: 0;
    margin-bottom: 20px;
    transition: .5s;
    z-index: 999999;
}
.fade {
    opacity: 1;
    transition: opacity 0.15s linear;
}
.close {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    opacity: .4;
}
.p1-gradient-bg, .mini-cart-2a.mini-cart-1 .mini-border, .mini-cart.mini-cart-1 .mini-border, .item-cart, .submit-btn, .submit-btn.color-1, .view-btn.color-1:after, .electronics-body .slicknav_menu .slicknav_btn, .search-bar .search-submit, .shortcut-icon .top-cart .cart-count, .banner-area.electronic-banner-area, .banner-slider.electronic-banner-slider .owl-controls .owl-nav .owl-prev:after, .banner-slider.electronic-banner-slider .owl-controls .owl-nav .owl-next:after, .best-seller-carousel .owl-controls .owl-nav .owl-prev:after, .popular-item-carousel .owl-controls .owl-nav .owl-prev:after, .best-seller-carousel .owl-controls .owl-nav .owl-next:after, .popular-item-carousel .owl-controls .owl-nav .owl-next:after, .single-item:after, .quick-view-carousel .owl-controls .owl-dots .owl-dot.active:after, .footer-social a:after {
    background-image: -moz-linear-gradient(135deg, #f9a448 0%, #f6497c 100%);
    background-image: -webkit-linear-gradient(135deg, #77b023 0%, #77b023 100%);
    background-image: -ms-linear-gradient(135deg, #f9a448 0%, #f6497c 100%);
}
.submit-btn.btn-elips-normal{
    background-image: -webkit-linear-gradient(135deg, #77b023 0%, #77b023 100%) !important;
    transition: .3s;
}
.submit-btn.btn-elips-normal:hover,.submit-btn.btn-elips-normal:focus{
    background-image: -webkit-linear-gradient(135deg, #ed528e 0%, #ed528e 100%) !important;
    color: #fff !important;
    border-left: 7px solid #bd1c5a;
    border-right: 7px solid #bd1c5a;
    transition: .3s;
}
.li-custom-fa{
    display: block;
    margin-left: 20px;
}
.fa-custom{
    display: block;
    margin-left: -20px;
    float: left;
    line-height: 20px;
    position: relative;
}
.box-detail-product{
    width: 350px;
    height: 350px;
    display: block;
    float: left;
    padding: 5px;
    border: 1px solid #eae9e9;
    margin-bottom: 20px;
    text-align: center;
}
.img-detail-product{
    width: auto;
    height: 100%;
    margin: auto;
    display: inline-block;
}
.box-konten-detail{
    display: block;
    margin-left: 370px;
}
del.del-grey{
    color: #bbb9b9;
}
.detail-price{
    text-align: right;
}
.round-sosmed{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #262525;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 0 5px #262525;
    margin: 0 5px;
}
.round-sosmed:hover{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #77b023;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 0 5px #aaa9a8;
    margin: 0 5px;
}
.round-sosmed i{
    margin-top: 2px;
}
.footer-bottom .copyright-text a {
    color: #ffffff;
}
.footer-bottom {
    text-align: center;
    background: linear-gradient(45deg, #bebebe 0%, #535353 90%);
    font-size: 13px;
}
.footer-bottom:before {
    display: none;
}
.footer-bottom:after{
    display: none;
}
footer{
    overflow-X: hidden;
    overflow-y: hidden;
    background: #ffffff;
    border-top: 2px solid #d6d6d6;
    position: relative;
}
.box-transparent{
    display: block;
    padding: 20px;
    background-color: rgba(255,255,255,.8);
    border-radius: 5px;
}
.box-long{
    display: block;
    width: 60%;
    margin: auto;
}
.img-produk{
    width: 440px;
    display: block;
    margin: auto;
}
.logo-footer{
    display: block;
    width: 120px;
    margin:auto auto 10px auto;
}
.f-left{
    float: left;
}
.single-footer-widget h4.menu-footer{
    text-transform: capitalize;
    color: #000;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
}
#undefined-sticky-wrapper{
    height: auto !important;
}
.single-footer-widget h4.menu-footer:after{
    content: '';
    width: 50px;
    height: 5px;
    background-color: #44ace1;
    border-radius: 2px;
    display: block;
    position: relative;
    margin-top: 8px;
}
.breadcrumb-banner nav a i {
    color: #9a9a9a;
}
.modal-width{
    width: 65%;
    margin: 0 auto;
}
/* .oc-item .image-handal img{
    width: 60%;
} */
.bg-breadcrumb{
    background-color: #ededed;
}
.mb-large{
    margin-bottom: 50px;
}
.breadcrumb-banner {
    padding: 10px 0 10px 0;
    font-size: 13px;
}
.breadcrumb-banner span{
    color: #868686;
}
.breadcrumb-banner nav a {
    display: inline-block;
    color: #333;
    text-transform: capitalize;
    font-weight: 500;
}
.breadcrumb-banner nav a:hover {
    color: #ffad05;
}
.img-icon{
    width: 80px;
    display: block;
    margin: auto;
}
.common-input {
    margin-top: 3px;
    margin-bottom: 10px;
}
.view-btn {
    background: #77b023;
    color:#fff;
}
.view-btn:hover {
    background: #669f13;
    color:#fff;
    transition: .5s;
}
.text-pink{
    color: #77b023 !important;
}

a.link{
    color: #555555;
}
a.link:hover{
    color:#ffad05;
}
a.link-black {
    color: #0c0c0c !important;
}
a.link-black:hover {
    color: #0a3ca6 !important;
}
.common-input {
    line-height: 35px;
    padding: 0 10px;
}
.common-textarea {
    
    padding: 10px 10px;
}
.nice-select {
    height: 38px;
    line-height: 35px;
    margin-bottom: 10px;
}
.order-wrapper {
    background: #f8f8f8;
    padding: 20px 15px;
}
/*.order-wrapper .bold-lable {
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    cursor: pointer;
}*/
.total{
    font-size: 17px;
}
.order-wrapper .list-row {
    border-bottom: 1px solid #dcdbdb;
    padding: 10px 0;
}
.pixel-checkbox + label {
    margin-left: 10px;
    cursor: pointer;
}
.head-order-wrapper h4{
    display: block;
    padding: 10px;
    background: linear-gradient(to top, #2b2a2a,#545354);
    color: #fff;
}
.panel-bg-icon{
    display: block;
    background-color: #fbfbfd;
    padding: 10px 8px;
    border-radius:5px;
}
.billing-form .common-input {
    margin-top: 10px;
}
.billing-form .sorting {
    margin-top: 10px;
    margin-right: 0;
}
.capitalize{
    text-transform: capitalize;
}
.normal{
    text-transform: none !important;
}
.bg-grey{
    background: linear-gradient(45deg, white,#f7f7f7);
}

.bg-blue{
    background-color: #0a3ca6;
}
.bg-blue-gradation{
    background:linear-gradient(45deg, transparent, #49b3e8, #004669);
    position: relative;
    overflow: hidden;
}
.link-icon{
    color: #252424;
    display: block;

}
.img-keranjang{
    display: block;
    width: 70px;
    max-width: 70px;
    margin: auto;
}
.panel-price{
    display: block;
    border-radius: 7px;
    border:1px dashed #bfbfbf;
    padding: 10px;
}
.konten-price{
    text-align: right;
}
.quantity-container .arrow {
    background: transparent;
    margin-top: -3px;
}
.quantity-container .arrow-btn {
    height: 35px;
}
.quantity-container .quantity-amount {
    height: 35px;
}
.icon-trash{
    width: 35px;
    height: 35px;
    display: block;
    padding: 5px;
    border: 1px solid #cf1e09;
    border-radius: 50%;
    margin: auto;
    color: #cf1e09;
    transition: .3s;
}
.icon-trash:hover{
    width: 35px;
    height: 35px;
    display: block;
    padding: 5px;
    border: 1px solid #cf1e09;
    border-radius: 50%;
    margin: auto;
    color: #fff;
    background-color:#cf1e09;
}

.link-icon:hover .box-icon{
    color: #ed528e;

    display: block;
    width: 100px;
    height: 100px;
    padding: 8px;
    background-color: #ed528e;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: .5s;
}
.img-cart{
    width: 70px;
    display: block;
}
.mini-cart .single-cart-item .middle h5 a:hover {
    font-size: 14px;.
    font-weight: 400;
    background: -webkit-linear-gradient(-180deg, #ed528e, #ed528e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link-icon:hover h5{
    color: #ed528e;
}
.box-icon{
    transition: .5s;
    display: block;
    width: 100px;
    height: 100px;
    padding: 8px;
    background-color: #333;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.more-icon{
    font-size: 10px;
}
.clear{
    clear: both;
}
.view-btn.view-btn-white {
    background: #e8e8e8;
    color: #fff;
}
.view-btn.view-btn-white:hover {
    background: #d1d1d1;
    color: #fff;
}
.view-btn.reply {
    padding: 0 30px;
    text-transform: capitalize;
    border-radius: 20px;
    margin-left: auto;
    box-shadow: none;
    border: 1px solid #d1d1d1;
}
.img-detail-article{
    max-width: 450px;
    width: 100%;
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
.img-produk-only{
    display: block;
    width: 350px;
    margin: 10px 0;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
}
.img-produk-only-border{
    display: block;
    width: 350px;
    margin: 10px 0;
    border: 1px solid #eeeeee;
    padding: 5px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-21{
    font-size: 21px;
}
.font-size-30{
    font-size: 30px;
    line-height:33px;
}
.link-black-pink h4{
    color: #6f6f6f;
}
#content ol {
    padding-left: 20px;
}
.box-img-brosur{
    display: block;
    margin: auto;
    padding: 0;
    max-width: 700px;
    height: 700px;
    overflow: hidden;
    transition: .3s;
}
.box-img-brosur img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.show-preview{
    display: block;
}
.box-img-brosur:hover .show-preview {
    transition: .3s;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    font-size: 70px;
    color: #000;
    top: 0;
    left: 0;
}
.box-img-brosur:hover .show-preview i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.link-black-pink h4:hover ,.link-p:hover {
    color: #0a3ca6;
}
.m-auto{
    margin: auto 0;
    display: block;
}
.btn.btn-selengkapnya{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #0a3ca6;
    border-radius: 2px;
}
.btn.btn-selengkapnya:hover {
    background-color: #2b2b2b;
}
.line{
    height: 1px;
    background-color: #bfbfbf;
    width: 170px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.box-img-artikel{
    display: block;
    position: relative;
    width: 160px;
    height: 140px;
}
.box-img-artikel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-thumb-blog{
    display: block;
    position: relative;
    width: 140px;
    max-width: 140px;
    float: left;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.order-wrapper.bg-wrapper {
    background: #f2f2f2;
    padding: 20px 15px;
}
.order-wrapper .payment-info {
    margin-top: 10px;
    background: #f5f5f5;
    border-top: 2px solid #eee;
    padding: 10px;
}
.value-responsive{
    text-align: right;
}
.div-radio-inline{
    display:inline-flex;
}
label.check-cursor{
    cursor: pointer;
}
.order-wrapper .terms-link {
    color: #e6508a;
}
.img-full{
    width: 100%;
    display: block;
}
.konten-blog{
    display: block;
    position: relative;
    margin-left: 155px;
    margin-bottom: 20px;
}
.hr-dashed{
    border-top:1px dashed #a6a6a6; 
}
.hr-solid{
    border-top:1px solid #dcdbdb; 
}
.box-top-radius{
    width: 100%;
    display: block;
    height: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0px 5px 7px -4px #f4f4f4;
}
.img-promo{
    display: inline-block;
    position: absolute;
    width: 90px;
    top: -11px;
    left: 28px;
}
.box-bottom-radius{
    width: 100%;
    display: block;
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 1px solid #e4e4e4;
    box-shadow: 0px -5px 7px -4px #f4f4f4;
}
.bg-img-1{
    background:url('../img/picture-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
}
.bg-img-2{
    background:url('../img/picture-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
}
.bg-img-3{
    background:url('../img/picture-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
}
.frame-video{
    display: block;
    width: 100%;
    padding: 5px;
    margin: auto;
    height: 450px;
}
.li-custom{
    display: block;
    margin-left: 20px;
}
.lnr-custom{
    display: inline-block;
    margin-left: -18px;
}
.bg-pink-1{
    background-color: #77b023;
}
.bg-pink-2{
    background-color: #639a12;
}
.bg-brown{
    background-color: #4a4a4a;
}
.single-organic-product:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.p2-gradient-bg, .mini-cart-2a.mini-cart-2 .mini-border, .mini-cart.mini-cart-2 .mini-border, .submit-btn.color-2, .view-btn.color-2:after, .organic-section-title-left .carousel-trigger .prev-trigger:after, .organic-section-title-left .carousel-trigger .next-trigger:after, .single-search-product:before, .single-organic-product:after, .single-organic-product .bottom, .single-organic-product:hover .discount, .organic-breadcrumb, .grid-btn:hover, .list-btn:hover, .grid-btn.active, .list-btn.active, .pagination a.active, .pagination a:hover, .single-organic-product-list:after, .organic-body .slicknav_menu .slicknav_btn, .header-organic-food .search-bar .search-submit, .header-organic-food .shortcut-icon .top-cart .cart-count, .banner-area.organic-banner-area, .banner-slider.organic-banner-slider .owl-controls .owl-nav .owl-prev:after, .banner-slider.organic-banner-slider .owl-controls .owl-nav .owl-next:after, .quick-view-carousel-details .owl-controls .owl-dots .owl-dot.active:after, .organic-product-carousel .owl-controls .owl-nav .owl-prev:after, .organic-product-carousel .owl-controls .owl-nav .owl-next:after, .organic-body .quick-view-carousel .owl-controls .owl-dots .owl-dot.active:after, .organic-body .organic, .organic-body .organic:hover, .details-tab-navigation .nav-link:hover, .details-tab-navigation .nav-link.active, .checkput-login .top-title, .organic-footer .footer-social a::after {
    background-image: -moz-linear-gradient(135deg, #a0d05e 0%, #41b153 100%);
    background-image: -webkit-linear-gradient(135deg, #fff 0%, #fff 100%);
    background-image: -ms-linear-gradient(135deg, #a0d05e 0%, #41b153 100%);
}
.single-organic-product:hover .text {
    opacity: 1;
}
.single-organic-product .user {
    margin-top: 10px;
    margin-bottom: 15px;
}
.frame-testimonial{
    display: block;
    max-width: 400px;
}
.circle-testimonial{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    background: #fff;
    border:5px solid #fff;
    box-shadow: 0 0 0 0px #ddd;
    overflow:hidden; 
    border-radius:50%;
}
.circle-testimonial img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-img-testimonial {
    display: block;
    padding: 20px;
    border:1px solid #d2d2d2;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
}
.frame-testimonial span{
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
}
.box-img-testimonial::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: -28px;
}
.box-img-testimonial::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    transform: translate(-50%,-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #d2d2d2;
    border-bottom: 10px solid transparent;
    left: 50%;
    bottom: -30px;
}
.submit-btn {
    display: inline-block;
    line-height: 42px;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 0 40px;
    text-align: center;
    z-index: 4;
    color: #fff;
    transition: visibility 0s, opacity 0.5s linear;
    border: none;
    cursor: pointer;
    position: relative;
    top: 0;
    /* right: 0; */
}

.blink {
      animation: blink-animation 1s steps(5, start) infinite;
      -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }
    @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
    .a-now{
        color: #c9c9c9;
        text-shadow: 1px 1px 0px #5f5f5f;
    }
    .a-now:hover{
        color: #ed528e;
        text-shadow: 1px 1px 0px #5f5f5f;
    }
/*/konten*/
.sidenav li a {
    padding: 11px 20px 11px 20px;
    border:0px solid #E5E5E5;
    color:#fff;
}
.slicknav_menu .slicknav_nav {
    background: #f6f6f6;
    max-height: 450px;
    overflow-y: auto;
    margin-top: 40px;
}
.slicknav_menu .slicknav_nav a:hover {
    color: #77b023;
    background-color: transparent;
}
.text-black{
    color: #333;
}
.line-stop{
    border-top: 1px dashed #c2c2c2;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bg-ul{
    /*background-color: #fafafa;*/
    background-color: transparent;
}
.mt-m-large{
    margin-top: 50px;
}
.now{
    color: #fff;
    display: none;
}

.col-custom{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px; 
}
/*mobile*/


@media(max-width: 991px){
    .main-logo {
        height: 40px;
        position: relative;
        z-index: 99;
    }
    .img-detail-berita {
        max-width: 400px;
        width: 100%;
        display: block;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .media-icon-download {
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 1;
    }
    .table th, .table td {
        white-space: nowrap;
    }


    .frame-radio{
        display: inline-block;
        margin-right: 0px;
    }


    .box-long {
        display: block;
        width: 100%;
        margin: auto;
    }

    .breadcrumb-banner nav {
        display: inline-block !important;
    }

    .justify-content-sm-start.justify-content-sm-start-mobile {
        float: left;
        margin-right: 10px;
    }
    .block-mobile{
        display: block !important;
    }
    .box-img {
        max-width: 280px;
        height: 230px;
        display: block;
        float: none;
        background: transparent;
        margin-left: auto;
        overflow: hidden;
        margin-bottom: auto;
        margin: auto auto 10px auto;
    }
    .mt-m-large{
        margin-top: 10px;
    }
    .box-konten-detail {
        display: block;
        margin-left: auto;
    }
    .box-img-2 {
        width: 200px;
        display: block;
        float: left;
        /*background: #eee;*/
        background: linear-gradient(to top, #eda852,#ed528e);
        border-radius: 50%;
        overflow: hidden;
        float: none;
        margin: 0 auto 20px auto;
    }
    .desc-details-2 {
        display: block;
        margin-left: auto;
    }
    .box-detail-product {
        width: 350px;
        height: 350px;
        display: block;
        float: none;
        border-top-left-radius: 0;
        border-radius: 10px;
        padding: 5px;
        border: 1px solid #eae9e9;
        margin: 0 auto 20px auto;
    }
    .img-promo {
        display: inline-block;
        position: absolute;
        width: 80px;
        top: -11px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .img-detail-product {
        border-radius: 10px;
    }



    .frame-video{
        height: 300px;
    }
    .konten-footer {
        display: block;
        margin-right: auto;
        text-align: left;
    }
    .maps {
        display: block;
        float: none;
        margin-left: auto;
        position: relative;
        margin-bottom: 0px;
        margin-top: 20px;
        width: 100%;
    }
    .slicknav_nav .slicknav_row, .slicknav_nav a {
        padding: 0px 0px;
        margin: 0px 0px;
    }
    .slicknav_menu {
        right: 15px;
        top: 20px;
        /*width: 650px;*/
    }
    .slicknav_menu .slicknav_nav {
        background: #f6f6f6;
        max-height: auto;
        height: auto;
        overflow-y: auto;
        top: 0;
        position: absolute;
        right: 0;
        margin-top: 40px;
        width: 650px;
    }
    .electronics-body .slicknav_menu .slicknav_btn{
        background-image: none;
        background: transparent;
    }
    .electronics-body .slicknav_menu .slicknav_btn:hover {
        background-image: none;
        background: transparent;
    }
    .main-menu {
        float: right;
        display: none;
    }
    .default-header {
        height: auto;
        background:linear-gradient(45deg, #cfefff, #49b3e8);
    }



    h2{
        font-size: 22px;
    }
    h5, .h5 {
        font-size: 16px;
    }
    h3, .h3 {
        font-size: 19px;
    }
    .font-size-30 {
        font-size: 22px;
        line-height: 33px;
    }
    .now{
        display: block;
        margin: auto;
        position: absolute;
        width: 200px;
        text-align: center;
        left: 50%;
        margin-left: -100px;
        font-size: 19px;
        top: 22px;
        z-index: 9999;
    }
    
    .footer-bottom:before {
        
        width: 100%;
    }
}
@media (min-width:  767px){
    /*.img-produk {
        width: 100%;
    }*/
}
@media (max-width:  767px){
    .md-show.md-effect-11 .md-content {
        transform: scale(1.4);
    }
    .box-img-brosur {
        height: 450px;
    }
    .bg-polygon{
        display: none;
    }
    .breadcrumb-banner {
        font-size: 11px;
    }
    .banner-area.electronic-banner-area {
        margin-top: 60px;
    }
    .slider-parallax .bg-shadow {
        display: none;
    }
    .box-perusahaan-1 img {
        max-width: 350px;
        width: 100%;
        border-radius: 2px;
        position: relative;
        z-index: 8;
        float: none;
        margin-bottom: 40px;
        margin-top: 40px;
        margin: 40px auto auto auto;
        display: block;
    }
    .box-perusahaan-2 img {
        display: none;
    }
    .box-perusahaan-3 img {
        display: none;
    }
    .circle-list {
        font-size: 40px;
        width: 70px;
        min-width: 70px;
        height: 70px;
        line-height: 1;
    }
    .box-bottom-radius{
        display: none;
    }
    .box-top-radius{
        display: none;
    }
    .box-img-artikel {
        width: 100px;
        height: 90px;
    }
    .media-icon {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
    body{
        font-size: 14px;
    }
    .right-responsive{
        text-align: center;
    }

    .img-detail-article {
        display: block;
        float: none;
        margin: 0 auto 20px auto;
    }


    .mb-m-large{
        margin-bottom: 20px;
    }


    .box-promo{
        display: inline-block;
    }
    .box-detail-product {
        width: 250px;
        display: block;
        float: none;
        border-top-left-radius: 0;
        border-radius: 10px;
        padding: 5px;
        border: 1px solid #eae9e9;
        margin: 0 auto 20px auto;
    }
    .box-konten-detail {
        display: block;
        margin-left: auto;
    }

    .box-detail-product {
        width: 250px;
        height: 250px;
        display: block;
        float: none;
        border-top-left-radius: 0;
        border-radius: 10px;
        padding: 5px;
        border: 1px solid #eae9e9;
        margin: 0 auto 20px auto;
    }
    .detail-price {
        text-align: left;
    }

    .round-sosmed {
        width: 40px;
        height: 40px;
        padding: 6px;
        font-size: 20px;
    }
    .round-sosmed:hover {
        width: 40px;
        height: 40px;
        padding: 6px;
        font-size: 20px;
    }
    .frame-video{
        height: 200px;
    }
    .col-md-offset-1 {
        margin-left: auto;
    }
    .img-produk {
        /*width: 250px;*/
        width: 100%;
        display: block;
        margin: auto;
    }
    .slicknav_menu {
        right: 15px;
        top: 20px;
       /* width: 500px;*/
    }
    .slicknav_menu .slicknav_nav {
        background: #f6f6f6;
        max-height: auto;
        height: auto;
        overflow-y: auto;
        top: 0;
        position: absolute;
        right: 0;
        margin-top: 40px;
        width: 500px;
    }
    .panel-bg-icon {
        display: block;
        margin-bottom: 20px;
    }
    .col-md-offset-2 {
        margin-left: 0%;
      }
    .left-content{
        display: none;
    }
    .banner-area .height {
        height: auto;
    }
    .main-logo {
        height: 35px;
        position: relative;
        z-index: 99;
    }
    .img-full {
        margin-top: 10px;
    }
    .col-custom{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px; 
    }
    .img-produk-only{
        display: block;
        width: 100%;
        margin: 10px auto;
        border-radius: 10px;
    }
    .img-produk-only-border{
        display: block;
        width: 100%;
        margin: 10px auto;
        border: 1px solid #eeeeee;
        padding: 5px;
        border-radius: 10px;
    }
}
@media(max-width: 550px){
    .slicknav_menu {
        right: 15px;
        top: 20px;
        /*width: 310px;*/
    }
    .slicknav_menu .slicknav_nav {
        background: #f6f6f6;
        max-height: auto;
        height: auto;
        overflow-y: auto;
        top: 0;
        position: absolute;
        right: 0;
        margin-top: 40px;
        width: 310px;
    }
    .img-icon {
        width: 50px;
    }
    h5.text-icon{
        font-size: 12px;
    }
    .box-icon {
        transition: .5s;
        display: block;
        width: 70px;
        height: 70px;
        padding: 8px;
        background-color: #333;
        margin: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .link-icon:hover .box-icon{
        color: #ed528e;

        display: block;
        width: 70px;
        height: 70px;
        padding: 8px;
        background-color: #ed528e;
        margin: auto;
        border-radius: 50%;
        margin-bottom: 10px;
        transition: .5s;
    }
}
@media (max-width: 450px){
    .img-thumb-blog {
        display: block;
        position: relative;
        width: 120px;
        max-width: 140px;
        float: none;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        margin: 0 auto 10px auto;
    }
    .konten-blog {
        display: block;
        position: relative;
        margin-left: auto;
        margin-bottom: 10px;
    }
}
@media (max-width: 576px){
    /*.value-responsive {
        text-align: left;
    }*/
    .justify-content-sm-start.justify-content-sm-start-mobile {
        float: none;
    }
    .block-mobile{
        display: block !important;
    }
    .box-img {
        width: 280px;
        height: 230px;
        display: block;
        float: none;
        background: transparent;
        margin: auto;
        margin: 0 auto 10px auto;
        overflow: hidden;
    }
    .mt-m-large{
        margin-top: 10px;
    }
    .box-img .box-img-in {
        width: 230px;
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
        background: transparent;
    }
    
}


/*class tambahan*/
.konten-slide-mobile{
    display: none;
}
.main-menu li a.a-submneu {
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    background-color: transparent;
    margin-right: 10px;
    border-radius: 8px;
    border-top: 0px solid transparent;
    color: #555555;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 0;
}
.main-menu li a.a-submneu:hover {
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    background-color: #f5f5f5;
    color: #555555;
    margin-right: 10px;
    border-radius: 0;
    border-top: 0px solid transparent;
    margin-left: 0;
}
.main-menu li a.a-submneu.current{
    background: #f5f5f5;
    border-radius: 0;
    box-shadow: 0 0 0;
}

.main-menu li:hover > ul {
    padding: 0px 0;
    position: absolute;
    box-shadow: 0 4px 5px rgba(0,0,0,.4);
    top: 35px;
    left: 0;
    z-index: 3;
    background: #fff;
    min-width: 250px;
    transform: scaleY(0);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform-origin: top;
    
}
.ol-numeric{
    list-style: decimal;
}
.a-link-focus{
    color: #ed528e;
}
.a-link :hover{
    color: #ed528e;
}
.right-responsive{
    text-align: right;
}
.box-link{
    display: block;
    /*box-shadow: 0 0 0px 1px #49b3e8;*/
    box-shadow: 0 0 8px 1px #cfcfcf;
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
    margin-bottom: 10px;
}
.box-link:hover{
    transition: .5s;
    cursor: pointer;

}
.box-link-2:hover{
    display: block;
    box-shadow: 0 0 7px 2px #e4e4e4;
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
    color: #77b023;
}
.frame-img{
    display: block;
    position: relative;
    width: 100%;
    height: 220px;
    /*height: 340px;*/
    text-align: center;
    margin: 0 auto 0px auto;
    overflow: hidden;
}
.frame-img-2{
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    text-align: center;
    margin: 0 auto 0px auto;
    overflow: hidden;
}
.frame-konten{
    display: block;
    /* height: 150px; */
    /*background-color: #49b3e8;*/
    background-color: #ffffff;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
}
.text-blue{
    color: #49b3e8;
}
.frame-konten h4{
    text-transform: capitalize;
}
.frame-konten-2{
    display: table;
    height: auto;
    width: 100%;
}
.v-middle{
    vertical-align: middle;
    display: table-cell !important;

}
.img-100{
    /*width: 110%;*/
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: .3s;
    border-radius:0;
}
.img-100:hover{
    width: 100%;
    transition: .3s;
    opacity: .7;
}
.img-detail-berita{
    width: 500px;
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    overflow:hidden !important; 
}
.header-electronics .is-sticky .sticky-header {
    z-index: 9;
    box-shadow: 0.707px 0.707px 15px 0px rgba(0, 0, 0, 0.4);
    width: 100% !important;
}
.frame-paket{
    display: block;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    box-shadow: 0 3px 5px rgba(0,0,0,.4);
    margin-bottom: 15px;
}
.iframe-custom-thumb {
    display: block;
    border: 0;
    width: 100%;
    height: 100%;
}
.border-paket{
    border-right: 1px dashed #cacaca;
    
}
.border-paket:first-child{
    border-right: 1px dashed #cacaca;
    
}
.border-paket:last-child{
    border-right: 0px dashed #cacaca;
    
}
.text-blue{
    color:#0a3ca6;
}
.iframe-contact{
    display: block;
    width: 100%;
    height: 50%;
}
.frame-img-2-hover{
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 100%;
    z-index: 9;
    height: 100%;
    top: 0;
    border-radius: 5px;
    opacity: 1;
}
.frame-img-2-hover:hover{
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    z-index: 8;
    height: 100%;
    top: 0;
    border-radius: 5px;
    opacity: 1;
}
.divcenter {
    width: 70%;
    display: block;
    margin: auto;
    background-color: #fff;
}
.mfp-bg {
    z-index: 999999;
}
.feature-box.fbox-center {
    padding: 10px !important;
    text-align: center;
    display: block;
    position: relative;
    height: auto;
}
.iframe-custom{
    padding-top: 52%;
    width: 100%;
    position: relative;
}
.iframe-custom iframe{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fa.fa-large{
    font-size: 50px;
    margin-bottom: 10px;
}
.text-judul{
    text-transform: capitalize;
}

.font-weight-light{
    font-weight: 300;
}
.font-weight-extrabold{
    font-weight: 700;
}
.single-blog-home .desc-left .single-left {
    margin-bottom: 20px;
    width: 70px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "font open sans", sans-serif;
    color: #272727;
}
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}
.header-konten{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}
.header-konten-left{
    display: inline-block;
}
.header-konten-right{
    display: inline-block;
}
.header-konten-left img{
    width: 100px;
}
.header-contact{
    display: inline-block;
}
.header-akun{
    display: inline-block;
    /* margin-left: 55px; */
}
.header-akun a{
    float: right;
}
.btn.btn-akun-2{
    padding: 8px 20px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #fff;
    background-color: transparent;
    /* margin-top: -20px; */
    transition: .3s;
}
.btn.btn-akun-2:hover{
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    transition: .3s;
}
.btn.btn-akun{
    font-weight: 500;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ffad05;
    color: #ffffff;
    background-color: #ffad05;
    /* margin-top: -20px; */
    margin-right: 0px;
    margin-left:10px; 
    transition: .3s;
}
.btn.btn-akun:hover{
    border: 1px solid #ffad05;
    color: #ffad05;
    background-color: transparent;
    transition: .3s;
}
.width-konten{
    display: block;
    max-width: 850px;
    width: 100%;
    margin: auto auto 25px auto;
    text-align: center;
}
.text-dark{
    color: #000 !important;
}
.text-dark p{
    color: #000 !important;
}
.bg-dark {
    background-color: #1f1f1f !important;
}
ul.ul-header-kontak li{
    display: inline-block;
    margin-left: 15px;
}
.ul-header-kontak span{
    font-weight: 500;
}
.ul-header-kontak label{
    display: block;
    line-height: 1;
    color: #9f9f9f;
    font-size: 13px;
}
#slider{
    background-color: #fff;
}
#slider-arrow-left i,#slider-arrow-right i{
    color: #272727;
}
#slider-arrow-left,#slider-arrow-right{
    background-color: rgba(255,255,255,0.3);
}
#slider-arrow-left:hover,#slider-arrow-right:hover{
    background-color: rgba(255,255,255,0.8) !important;
}
/*.testimonials-grid {
    list-style: none;
    overflow: hidden;
}*/
.clearfix:before, .clearfix:after{
    content: " ";
    display: table;
}
 /*.testimonials-grid li:before, 
 .testimonials-grid li:after {
    content: '';
    position: absolute;
}
.testimonials-grid li:before{
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px dashed #DDD;
}
.testimonials-grid li:after {
    width: 100%;
    height: 0;
    top: auto;
    left: 0;
    bottom: -1px;
    border-bottom: 1px dashed #DDD;
}
.testimonials-grid li {
    width: 50%;
    padding: 25px;
    float: left;
    position: relative;
}
.testimonials-grid li .testimonial {
    padding: 0;
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}
.testimonial{
    position: relative;
    border-radius: 5px;
}*/

/*grid testimoni*/
.testi-image{
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}
.testi-image img {
    border-radius: 50%;
    display: block;
    width: 64px;
    height: 64px;
}
.testi-content {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}
.border-testi-bottom{
    border-bottom: 1px dashed #ddd;
}
.border-testi{
    border-right: 1px dashed #ddd;
    /*border-left: 1px dashed #ddd;*/
}
.bg-blue{
    background-color: #4c0263;
}

.text-orange{
    color: #ffad05;
}
@media (max-width: 767px){
    .frame-img{
        /*height: 220px;*/
        height: 250px;
    }
    .box-logo-footer {
        margin-top: 0;
        width: 150px;
        height: 40px;
    }
    .single-footer-widget h4.menu-footer {
        font-size: 18px;
    }
    .border-testi-bottom{
        border-bottom: 0px dashed #ddd;
    }
    .border-testi{
        border-right: 0px dashed #ddd;
    }
    .border-bottom-mobile{
        border-bottom: 1px dashed #ddd;
    }
}
/*/grid testimoni*/

.italic{
    font-style: italic;
}
.content-wrap {
    padding: 60px 0;
}
.frame-map{
    padding-top: 0;
    width: 100%;
    position: relative;
    max-width: 700px;
    height: 350px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.3);
    border-radius: 5px;
}
.frame-map .fluid-width-video-wrapper{
    width: 100%;
    height: 100%;
    padding-top: 0 !important;
    object-fit: cover;
}
.radius-left{
    border-top-left-radius:10px;
}
.radius-right{
    border-top-right-radius: 10px;
}
.radius-left-right{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.single-footer-widget ul li {
    margin-top: 5px;
}
.mt-footer-menu{
    margin-top: 70px;
}

.logo-mobile a img{
    width: 100%;
    height:100%;
    object-position: left;
    object-fit: contain;
}

@media (max-width: 767px) {

    .frame-map{
        height: 250px;
    }
    .right-responsive{
        text-align: center;
    }
    .img-detail-berita {
        max-width: 400px;
        width: 100%;
        display: block;
        float: none;
        border-top-left-radius: 0;
        border-radius: 0;
        margin: 0 auto 20px auto;
    }
    .divcenter {
        width: 100%;
    }
    .konten-slide-mobile{
        display: block;
    }
    .testimonials-grid li {
        width: auto;
        padding: 25px;
        float:o none;
        position: relative;
    }
    .radius-left{
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }
    .radius-right{
        border-top-right-radius: 0px;
    }
}
@media (max-width: 991px){
    .header-flex{
        display: flex;
        justify-content: space-between;
    }
    .logo-mobile{
        display: block;
        height: 35px;
    }
    a.logo-menu{
        display: none;
    }
    .header-akun{
        display: none;
    }
    .border-paket:first-child {
        border-right: 0px dashed #cacaca !important;
        
    }
    .border-paket:last-child {
        border-right: 0px dashed #cacaca !important;
        
    }
    .border-paket{
        border-right: 0px dashed #cacaca !important;
        
    }
    .box-perusahaan-2 img {
        width: 250px;
        position: absolute;
        margin-top: 0;
        margin-left: 190px;
        z-index: 7;
    }
    .box-perusahaan-3 img {
        width: 150px;
        position: absolute;
        margin-top: 110px;
        margin-left: 110px;
    }
    .align-responsive{
        text-align: center;
    }
    .slicknav_menu {
        z-index: 99;
    }
    .menu-mobile{
        position: relative;
       /* right: 0;
        top: 0;*/
        margin-top: 15px;
        color: #fff;
        /*margin-right: 15px;*/
        font-size: 20px;
        cursor: pointer;
        z-index: 999;
    }
    .icon-menu{
        display: block;
    }

}

@media (max-width:575px ){
    .mt-footer-menu{
        margin-top: 10px;
    }
}

/*tambahan-banner*/
.banner-slider .owl-controls .owl-nav .owl-prev {
    background: rgba(255,255,255,.5);
}
.banner-slider .owl-controls .owl-nav .owl-next {
    background: rgba(255,255,255,.5);
}
@media (min-width: 1200px)
{
    .banner-slider .owl-controls .owl-nav .owl-next {
        left: 0px;
    }
    .banner-slider .owl-controls .owl-nav .owl-prev {
        right: 0px;
    }
}
@media (max-width: 767px){

    .container{
        width: 100% !important;
        max-width: 720px;
    }

    .banner-slider .owl-item img {
         width: 100% !important; 
         height: auto; 
    }
    .img-slider{
        width: 100%;
    }
}

