/*header*/
.navbar-inverse {
    background: linear-gradient(to left, #b30303,#b30303) !important;
    border-color: transparent;
}
ul.main-navigation-menu > li.active > a {
    background: #d46c04 !important;
}
ul.main-navigation-menu > li.active > a .selected:before {
    color: #d46c04 !important;
}
.navbar > .container .navbar-brand, .logo {
    font-size: 20px;
}
.navbar-brand, .navbar-brand:hover{
    color: #fff !important;
}
ul.main-navigation-menu > li a > i {
    color: #9d9d9d;
}
ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li > a:hover {
    background: #464646 !important;
}
.badge-new {
    background-color: #ffffff;
    color: #595959;
}
ul.main-navigation-menu > li a {
    color: #ffffff;
    border-top-color: #656565;
}
.navigation-toggler, .go-top {
    color: #a1a1a1;
}
ul.main-navigation-menu > li a {
    border-bottom-color: transparent;
}
ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {
    background-color: #676767;
}
.btn{
	font-family: sans-serif;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #9f0505;
}
.navbar-tools .drop-down-wrapper {
    max-height: 250px;
    height: auto;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background: #9f0505;
}
.navbar-inverse .nav > li:hover > a, .navbar-inverse .nav > li:active > a, .navbar-inverse .nav > li:focus > a {
    color: #fff;
    background: #9f0505;
}
.navbar-inverse .nav > li.current-user > a {
    color: #fff !important;
}
.navbar-inverse .nav > li > a {
    color: #fff;
}
.navbar-inverse .nav > li.current-user > a i {
    color: #ffffff !important;
}
/*/*/
.panel-heading.panel-btn{
	height: auto;
	padding-left: 15px;
}
.mb-1{
	margin-bottom: 10px;
}
.mt-1{
	margin-top: 10px;
}
.mb-0{
	margin-bottom: 0px;
}
.flexigrid div.pGroup select {
    line-height: 1 !important;
}
.flexigrid div.hDiv th div {
    font-weight: 600;
}
hr.hr-dashed{
	border-top: 1px dashed #a3a3a3;
}

.btn-sm.btn-form {
    line-height: .9;
}
.box-slide{
	display: block;
	max-width: 400px;
	height: 200px;
	padding:10px;
	border:1px solid #eee;
	margin-bottom: 10px;
}
.box-slide img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.input-privilage {
    width: 220px;
}
.navbar-toggle {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
    -moz-box-shadow: 0 0 0px #fff;
    -webkit-box-shadow: 0 0 0px #fff;
    box-shadow: 0px 0px 0px #fff;
}
.navbar-toggle span {
    color: #ffffff;
}
.box-map{
	display: block;
	margin: auto auto 25px auto;
	max-width: 600px;
	width: 100%;
	height: 300px;
	position: relative;
	padding: 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    border-radius: 5px;
}
.box-map #map-canvas{
	width: 100% !important;
	height: 100% !important;
	object-fit: contain;
}
.box-map #searching-location{
	position: absolute;
	transform: translate(-50%,-50%);
    left: 50% !important;
    top: 50% !important;
}
@media (max-width: 767px)
{
	.navbar-tools {
	    background: #636363e6;
	}
}
