@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(KFOlCnqEu92Fr1MmSU5fBBc-AMP6lQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(KFOmCnqEu92Fr1Mu4mxMKTU1Kg.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(KFOlCnqEu92Fr1MmEU9fBBc-AMP6lQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(KFOlCnqEu92Fr1MmWUlfBBc-AMP6lQ.woff) format('woff');
}