/*tambahan*/
.portfolio-item.portfolio-custom {
  margin: 0;
  padding: 10px 15px;
}
.portfolio-custom .recent-work-wrap{
  width: 100%;
  height: 350px;
  overflow: hidden;
  border: 5px solid #d2d2d2;
  border-radius: 10px;
}
.portfolio-custom .recent-work-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px){
  .portfolio-item.portfolio-custom {
    padding: 10px 15px;
  }
  .portfolio-custom .recent-work-wrap {
      margin: auto;
      height: 250px;
      max-width: 300px;
  }

  /*lightbox*/
  div.pp_pic_holder{
    
    width: 100% !important;
    max-width: 400px;
    left: 50% !important;
    transform: translate(-50%,-50%);
  }
  div.pp_default .pp_content, div.light_rounded .pp_content {
      padding-bottom: 40px;
      height: 100% !important;
      width: 100% !important;
  }
  #pp_full_res img{
    height: 100% !important;
    width: 100% !important;
  }
  div.pp_default .pp_content_container .pp_details{
    width: 100% !important; 
  }
  div.pp_default .pp_content_container .pp_right {
    
    padding-right: 20px;
}
  /*/*/

}
@media (max-width: 991px){
  .portfolio-custom .recent-work-wrap {
      height: 200px;
  }
}
/*/*/

/*konten*/
.btn-back{
  padding: 10px;
  border-radius: 0;
  border: 1px solid #eee;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}
.color-primary{
  color: #349150;
}
.color-primary-2{
  color: #93dca9;
}
.special-color span{
  color: #349150;
  font-weight: 720;
}
.text-green-2{
  color: #349150;
}
.box-event{
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
  border:1px solid #ddd;
  margin-bottom: 15px;
}
.box-event{
  text-align: center;
}
.mt-0{
  margin-top: 0 !important;
}

.bg-grey{
  background-color: #f2f2f2;
}
.box-event h2{
  font-size: 25px;
}
.box-event h4{
  font-size: 17px;
}


.center {
    text-align: center;
    padding-bottom: 35px;
}
/*slider-event*/
.white{
  color: #fff !important;
}
.btn-show{
  padding: 10px 15px;
  border-radius: 30px;
 /* background: #359151;*/
  background:linear-gradient(to top,#359151 0%,#359151 100%);
  color: #fff;
  border: 4px solid #64c381;
  font-weight: 700;
  transition: .3s;
}
.btn.btn-show:hover{
  border-radius: 30px;
  background:linear-gradient(to top,#359151 0%,#62c17f 100%);
  color: #fff;
  background-color: transparent;
  transition: .3s;
}
.item .box-konten{
    position: absolute;
    background: transparent;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin-left: 200px;
    color: #000;
    padding: 10px;
    display: block;
    width: 450px;
}
.slider-testimonial .carousel-indicators{
   bottom: -30px;
}
.title-h3 span{
   font-weight: 200;
}
.link-primary{
   color: #93dca9;
   transition: .5s;
}
.link-primary:hover{
   color: #fff;
   transition: .5s;
}
.box-konten-2 {
    position: relative;
    background: transparent;
    color: #fff;
    padding: 10px;
    display: block;
    width: auto;
    margin-left: 250px;
    min-height: 160px;
}
.slider-event{
    display: block;
    background: linear-gradient(to top,#e2efe6 0%, #fff 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid #d5e4d9;
    overflow-x: hidden;
    position: relative;
}
.slider-testimonial {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid transparent;
    overflow-x: hidden;
    position: relative;
}
.slider-event .carousel-inner{
  overflow: inherit;
}
.slider-event .carousel-indicators .active{
  background-color: #359151;
}
.slider-event .carousel-indicators li{
  border: 2px solid #359151;
}
/*.slider-event .item{
  overflow: hidden;
  width: 400px;
  margin-left: 100px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 6px #c1c1c1;
}*/
.box-number .p-tgl{
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
    color: #359151;
}
.box-number .p-body{
  font-size: 12px;
}
.item .box-number{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0px 0px 0px 6px #359151;
    transition: .3s;
    transform: translate(-50%,-50%);
    left: 50%;
    margin-left: -100px;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    padding: 10px;
    text-align: center;
}
.item .circle-image{
  overflow: hidden;
  display: inline-block;
  width: 400px;
  margin-left: 100px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 6px #c1c1c1;
  transition: .3s;
}
.item .circle-image:hover{
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 10px #359151;
  transition: .3s;
}
.item .circle-image-2 {
    overflow: hidden;
    display: block;
    width: 130px;
    margin-left: 100px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0px 0px 0px 6px #359151;
    transition: .3s;
    position: absolute;
    margin-top: 10px;
}
/*.slider-testimonial .carousel-inner{
   padding: 30px 0;
}*/
.circle-image-2 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.carousel-control.left{
  background-image: linear-gradient(to right,transparent 0,transparent 100%);
}
.carousel-control.right{
  background-image: linear-gradient(to right,transparent 0,transparent 100%);
}
.carousel-control .glyphicon-chevron-right{

    background: linear-gradient(to top,#ddd 10%,#969595 100%);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.carousel-control .glyphicon-chevron-left{
   
    background: linear-gradient(to top,#ddd 10%,#969595 100%);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 10%;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-left {
    left: 10%;
}
.slider-event .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    line-height: 1;
}
h3.title-h3{
  font-size: 25px;
  font-weight: 600;
}
.slider-sertifikat{
   display: block;
}
.circle-partner{
   display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    background: rgba(255,255,255,.6);
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}
.circle-partner img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
marquee{
  padding: 10px 0;
}
.img-partner{
   width: 200px;
   display: block;
   margin: auto;
}
.slider-sertifikat .carousel-indicators{
   bottom: -40px;
   display: none;
}
/*/slider-event*/

/*slider-berita*/
.head-member-1{
    background: linear-gradient(to top,#20773a 10%,#359151 100%);
    border-radius: 20px 0 0 20px;
    padding: 15px 10px;
    border: 4px solid #338f4f;
}
.head-member-2{
    background: linear-gradient(to top,#20773a 10%,#359151 100%);
    border-radius: 0;
    padding: 15px 10px;
    border: 4px solid #338f4f;
}
.head-member-3{
    background: linear-gradient(to top,#20773a 10%,#359151 100%);
    border-radius: 0 20px 20px 0;
    padding: 15px 10px;
    border: 4px solid #338f4f;
}
.head-member-1 h3,.head-member-2 h3,.head-member-3 h3{
   text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    color: #fff;
}
.box-member{
   display: block;
   background: linear-gradient(to top,transparent 10%,#fff 100%);
   border-radius: 20px;
}
.box-member-body{
   display: block;
   padding: 10px;
}
.slide-berita{
  display: block;
}
.img-slider-2{
  display: block;
  width: 100%;
  height: 350px;
  margin: auto;
  overflow:hidden; 

}
.img-slider-2 img:hover{
   opacity: .7;
   transition: .5s;
}
.img-slider-2 img{
   transition: .5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.conten-slider .carousel-caption{
   display: block;
    width: 330px;
    height: 80px;
    background: transparent;
    padding: 5px;
    right: auto;
    left: auto;
    bottom: 0;
    position: relative;
    margin-top: 5px;
    border-radius: 10px;
    text-align: left;
    text-shadow: none;
}
.conten-slider .carousel-caption h3{
   font-weight: 700;
   color: #359151;
}
.conten-slider .carousel-caption small{
   color: #888;
}
.panel-body-height{
   height: 460px;
}
.slide-berita .carousel-control{
   top: auto;
   margin-bottom: 50px;
   z-index: 999;
}
.slide-berita .carousel-control.left{
   left: auto;
   right: 0;
   margin-right: 35px;
}
.slide-berita .carousel-indicators{
   margin-bottom: 70px;
}
.flex-box-event{
   display: flex;
   justify-content: space-between;
}

/*/slider-berita*/

/*statistik-member*/
.panel-body.ul-v-1{
   padding: 15px;
   position: relative;
}

.ul-v-1 ul li{
    display: inline-block;
    float: none;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.ul-v-2 ul li {
    display: inline-block;
    float: none;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.ul-v-1 ul{
   padding-left: 0;
}
.ul-v-2 ul{
   padding-left: 0;
}
.konten-img-1 h3{
   margin: 5px 0;
   font-weight: 600;
   font-size:18px;
   text-transform: capitalize;
   color: #247c3e;
}
.konten-img-1 p{
   font-size: 13px;
   color: #000;
}
.konten-img-1{
    display: inline-block;
    margin-left: 15px;
    padding: 5px 10px;
    position: absolute;
}
.konten-img-2 p{
   font-size: 12px;
   color: #000;
}
.konten-img-2{
    display: inline-block;
    margin-left: 5px;
    padding: 5px 10px;
    position: absolute;
}
.konten-img-2 h3{
   margin: 0;
   font-weight: 600;
   font-size:15px;
   text-transform: capitalize;
   line-height: 1.1;
}
.color-grey{
   color: #000;
}

.circle-number-mini{
   display: block;
    width: 25px;
    height: 25px;
    padding: 3px;
    background: #2c8647;
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);
    bottom: 0;
    left: 0;
    margin-bottom: -15px;
    margin-left: 69px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.4;
}
.padding-member-center{
   padding-left: 0px;
   padding-right: 0px;
   border-left: 1px dashed #fff;
}
.padding-member-right{
   padding-left: 0px;
   border-left: 1px dashed #fff;
}
/*.border-left-member{
   border-left: 1px dashed #fff;
}*/
.padding-member-left{
   padding-right: 0px;
}
.circle-number-mini-2{
   display: block;
    width: 25px;
    height: 25px;
    padding: 3px;
    background: #2c8647;
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);
    bottom: 0;
    left: 0;
    margin-bottom: -28px;
    margin-left: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.4;
}
.circle-img-1{
   display: block;
   overflow:hidden;
   width: 75px;
   height: 75px;
   border-radius:50%;
   padding: 5px;
   border: 1px solid #fff;
   box-shadow: 0 0 0 6px #88b797;
   float: left;
}
.circle-img-2{
   display: block;
   overflow:hidden;
   width: 60px;
   height: 60px;
   border-radius:50%;
   padding: 5px;
   border: 1px solid #fff;
   box-shadow: 0 0 0 4px #518e65;
   float: left;
}
.circle-img-1:hover{
   box-shadow: 0 0 0 6px #267f41;
}
.circle-img-1 img{
   display: block;
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}
.circle-img-2 img{
   display: block;
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}
.marquee-1{
   padding: 10px;
   height: 400px;
}
/*/statistik-member*/

/*detail produk*/
.box-deskripsi{
  display: block;
  border:1px solid #eee;
  border-radius:0;
  width: 100%;
  padding: 10px;
  position: relative;
  margin-top: 15px;
}
.box-price{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #f7f7f7;
  margin: 0 auto 5px;

}
.box-price h2{
  font-weight: 700;
  text-align: left;
}
.frame-title{
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b7b6b6;
  margin-bottom: 10px;
  
}
.frame-title h2{
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0;
}
.box-produk{
  display: block;
  border:1px solid #eee;
  border-radius:0;
  width: 100%;
  height: 300px;
  padding: 10px;
  position: relative;
}
.box-konten-produk{
  display: block;
  border:1px solid #eee;
  border-radius:0;
  width: 100%;
  height: 257px;
  overflow-y: auto;
  padding: 10px;
  position: relative;
}
.box-produk img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*/*/

/*video*/

.frame-video .fluid-width-video-wrapper{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature-box.fbox-center {
    padding: 10px !important;
    text-align: center;
}
.box-frame{
  display: block;
  position: relative;
  height: 100%;
  padding-top: 50% !important; 
  overflow: hidden;
}
.box-frame iframe {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.divcenter {
    width: 70%;
    display: inline-block;
    position: absolute !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.block{
  display: block;
}
.frame-video{
  display: block;
  width: 100%;
  height: 250px;
  position: relative;
  border: 4px solid white;
  box-shadow: 0px 1px 5px 2px #cccccc;
  margin-bottom: 10px !important;
}
.frame-video iframe{
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}
.area-video h3{
   font-size:17px;
   margin-top: 10px;
   font-weight: 600;
}
.frame-video .layer-video{
   opacity: 1;
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   transform: translate(-50%,-50%);
   top: 50%;
   left:50%;
   background-color: rgba(0, 0 ,0,.2);
   transition: .5s;
   /*filter: grayscale(100%);*/
}
.frame-video .layer-video:hover{
   opacity: 1;
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   transform: translate(-50%,-50%);
   top: 50%;
   left:50%;
   background-color: rgba(52, 145, 80,.7);
   cursor: pointer;
   transition: .5s;
}
/*tab-custom*/
.bg-tab{
   background: linear-gradient(to top,#abd684 10%,#359151 100%);
   margin-top: 40px;
}
.tab-menu-custom{
   display: block;

}
.tab-menu-custom .nav-tabs{
  text-align: center;
}
.tab-menu-custom .nav-tabs>li{
    float: none;
    display: inline-block;
}
.tab-menu-custom .nav-tabs{
    border-right: 0px solid transparent;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 0;
    margin-top: -40px;
    left: 50%;
    width: 100%;
}
.tab-menu-custom .nav-tabs>li.active>a:after{
  border-color:transparent transparent transparent transparent;
}
.tab-menu-custom .nav-tabs>li.active>a{
    /*background: #359151;*/
    background: linear-gradient(to top,#359151 10%,#6db783 100% );
    border: 1px solid #ace2bc;
    color: #fff;
}
.tab-menu-custom .nav-tabs>li.active>a:hover{
    /*background: #359151;*/
    background: linear-gradient(to top,#359151 10%,#6db783 100% );
    
}
.tab-menu-custom .nav-tabs>li{
  border-bottom: 0px solid #e6e6e6;
}
.tab-menu-custom .nav-tabs>li>a{
    background: linear-gradient(to top,#e2e2e2 10%,#fff 100% );
    border: 1px solid #e0e0e0;
    color: #359151;
    margin-left: -4px;
    transition: .3s;
}
.tab-menu-custom .nav-tabs>li>a:hover{
    background: linear-gradient(to top,#b8dac3 10%,#fff 100% );
    transition: .3s;
    
}
.tab-menu-custom .nav-tabs>li:first-child>a{
  border-radius: 30px 0 0 30px;
}
.tab-menu-custom .nav-tabs>li:last-child>a{
  border-radius: 0 30px 30px 0;
}
.panel-heading.heading-custom{
  /*background: linear-gradient(to top,#9dce7e 10%,#359151 100%);*/
  background: linear-gradient(to top,#20773a 10%,#359151 100%);
}
.panel-heading.heading-custom-2{
  background: linear-gradient(to top,#20773a 10%,#359151 100%);
  border-radius: 20px;
    padding: 15px 10px;
    border: 4px solid #338f4f;
}
.panel-heading.heading-custom-2 h3{
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
  color: #fff;
}

.panel-heading.heading-custom h3{
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  margin-top: 0;
  color: #fff;
}
.panel.panel-custom{
  background-color: #fff;
  border-radius: 10px;
}
.panel.panel-custom-2{
  background-color: transparent;
  background: linear-gradient(to top,transparent 10%,#fff 100%);
  border-radius: 20px;
}
.panel-body {
    padding: 10px;
}
.widget-news ul li{
   padding: 10px;
   cursor: pointer;
   transition:.3s;
}
.widget-news ul li:hover{
  background: linear-gradient(to top, #e8e8e8 10%,#fff 100%);
  transition:.3s;
  border-radius: 10px;
}
.widget-news ul{
  padding-left: 0;
}
.box-tgl{
    display: block;
    margin: auto;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    background: #d1e4d0;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #359151;
}
.news-tgl{
  padding-right: 5px;
  text-align: center;
}
.news-img{
  padding-right: 0;
}
.img-link-news{
  display: block;
  margin: auto;
  padding: 2px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border:4px solid #359151;
}
.img-link-news img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-konten h3{
  font-size: 20px;
  margin-top: 0;
  font-weight: 600;
  color: #359151;
}
.clear-destop{
   clear: both;
}

hr.hr-dashed{
  border-top:1px dashed #b1b1b1;
  border-bottom: 0px solid #000;
}
hr.hr-dashed-white{
  border-top:1px dashed #fff;
  border-bottom: 0px solid #000;
}
.btn.btn-round-2{
  border-radius: 20px;
  border: 1px solid #359151;
  transition: .3s;
}
.btn.btn-round-2:hover{
  background: linear-gradient(to top,#c9e6d2 10%, #fff 100%);
  transition: .3s;
}
.btn.btn-round-default{
  border-radius: 10px;
  border: 1px solid #359151;
  transition: .3s;
}
.btn.btn-round-default:hover{
  background: linear-gradient(to top,#c9e6d2 10%, #fff 100%);
  transition: .3s;
}


/*/tab-custom*/
.pb-1{
   padding-bottom: 10px !important;
}
/*header*/
.navbar-brand img{
  width: 201px;
}
/*/header*/

/*slider-sertifkasi*/
ul.ul-sertifikasi{
   padding-left: 0;
}
.ul-sertifikasi li{
   display: inline-block;
   margin-left: 15px;
   margin-right: 15px;
}
.owl-carousel .owl-nav [class*=owl-]:hover{
       background-color: #359051 !important;
}
.owl-carousel .owl-dots .owl-dot span{
   background-color: #ecf5ef;
}
.slider-sertifikat .testimonial {
    position: relative;
    padding: 20px;
    background-color: transparent;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}
/*/slider-sertifikasi*/
.midnight-blue{
   margin-top: 10px !important;
}
.hr-dashed{
  border-top:1px dashed #a8a8a8;
}
.pt-0{
  padding-top: 0 !important;
}
.pt-1{
  padding-top: 10px !important;
}
.mt-0{
  margin-top: 0 !important;
}
.mt-1{
  margin-top: 10px !important;
}
.mt-2{
  margin-top: 20px;
}
.mb-0{
  margin-bottom: 0 !important;
}
.mb-1{
  margin-bottom: 10px !important;
}
.mb-2{
  margin-bottom: 20px !important;
}

.frame-icon{
  display: inline-block;
  width: auto;
  float: left;
  padding: 5px;
  margin-right: 10px;
}
.frame-konten{
  display: block;
  width: auto;
  padding: 5px;
}
.font-title-download{
  font-size: 22px;
  font-weight: 600;
}
.flex{
  display: flex;
}
.contact-footer{
  display: inline-block;
  width: 30px;
  float: left;
}
.value{
  float: right;
  margin-right: 10px;
}

body > section.section-footer {
    padding: 45px 0 30px 0;
}

a.link{
  color: #4e4e4e;
}
a.link:hover{
  color: #349150;
}
.line{
  display: block;
  width: 40px;
  height: 2px;
  background-color: #349150;
  margin-bottom: 15px;
  text-align: center;
}

.widget ul{
  padding-left: 0;
  list-style: none;
}
.navbar {
    background: #eee;
}
.valign-middle{
  vertical-align: middle!important;
}
.img-modal{
  width: 100%;
}
.circle-close{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  border: 5px solid #d5d2ea;
  color: #4d4e4d;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  top: -15px;
  right:0px;
}
.circle-close:hover {
    background-color: #239451;
    border: 5px solid #d5d2ea;
    color: #fff;
}

.modal {
    position: fixed;
    overflow-y: auto;
}

/*news*/
.box-txt-1 p.p-date {
    font-size: 14px;
    margin-bottom: 15px;
    color: #939191;
}
.box-btn-footer-1{
  display: block;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
    width: 100%;
}
.box-txt-1 h3 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 25px;
    font-weight: 700;
    color: #349150;
}
.box-konten{
   display: block;
   position: relative;
   margin-left: 270px;
}
.box-txt-1{
   display: block;
   position: relative;
   margin-left: 270px;
   height: 250px;
   overflow: hidden;
   position: relative;
}
.box-konten h3{
   margin-bottom: 10px;
    margin-top: 0;
    font-size: 25px;
    font-weight: 700;
    color: #349150;
}
.frame-detail-news h3{
   margin-bottom: 10px;
    margin-top: 0;
    font-size: 25px;
    font-weight: 700;
    color: #349150;

}
.frame-detail-news p.p-date{
   font-size: 14px;
   margin-bottom: 15px;
   color: #939191;
}
.box-konten p{
   line-height: 1.5;

}
.box-konten p.p-date{
   font-size: 14px;
   margin-bottom: 15px;
   color: #939191;
}
.box-image-news{
   display: block;
   width: 250px;
   height: 250px;
   border-radius: 10px;
   border:4px solid #ddd;
   padding: 5px;
   float: left;
}

.box-image-news img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.box-image-pengumuman{
   display: block;
   margin: auto;
   width: 690px;
   border-radius: 10px;
   border:4px solid #ddd;
   padding: 5px;
   margin-bottom: 15px;
}
.box-image-pengumuman img{
   width: 100%;
}
.box-image-detail-news{
   display: block;
   width: 370px;
   height: 370px;
   border-radius: 10px;
   border:4px solid #ddd;
   padding: 5px;
   float: left;
   margin-right: 15px;
   margin-bottom: 15px;
}
.box-image-detail-news img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
hr.hr-dashed{
   border-top:1px dashed #9d9d9d;
}
hr.hr-solid{
   border-top:1px solid #9d9d9d;
}
.frame-news{
   display: block;
   position: relative;
   margin-bottom: 10px;
}
.frame-detail-news{
   display: block;
   position: relative;
}
.breadcrumb{
   display: block;
   padding: 10px;
   background-color: #ddd;
   color: #000;
   border-radius: 0;
}
.icon-custom{
   font-size: 60px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    color: #fff;
}
.slide-berita .recent-work-wrap .overlay{
   background:rgb(52, 145, 80,.7); 
}
/*/news*/
.skill-wrap{
   margin: 40px 0;
}
body > section {
    padding: 40px 0;
}
/*mobile*/
@media(max-width: 1198px){
   .item .circle-image {
       width: 370px;
       margin-left: 20px;
       height: 370px;
       
   }
}
@media(max-width: 991px){
  .frame-title h2 {
    font-size: 22px;
  }
   .box-image-detail-news {
       width: 300px;
       height: 300px;
       margin-right: 15px;
   }
   
   .center h2 {
       font-size: 28px;
   }
   .desktop{
      display: none!important;
   }
   .mobile-1{
      display: block !important;
   }
   .img-slider-2 {
       height: 250px;
   }
   .news-konten h3 {
       font-size: 17px;
   }
   .img-link-news {
       width: 100%;
       height: 70px;
   }
   h3.title-h3 {
       font-size: 21px;
   }
   .item .circle-image {
       width: 170px;
       margin-left: 20px;
       height: 170px;
       float: left;
       
   }
   .item .box-number{
      display: none;
   }
   .slider-event .carousel-indicators{
      display: none;
   }
   .item .box-konten {
       position: relative;
        transform: none; 
        top: auto; 
        left: auto; 
       margin-left: 200px;
       
       width: auto;
   }
}
   
.destop{
   display: block;
}
.mobile-1{
   display: none;
}
@media (min-width:767px) and (max-width: 991px){
  .frame-video {
    height: 200px;
  }
}
@media (max-width: 767px){
  .box-produk {
      height: 270px;
      margin-bottom: 10px;
  }
  .box-konten-produk {
      height: auto;
  }
  .divcenter {
    width: 100%;
  }
   .clear-after-2{
      clear: both;
   }
   .clear-destop{
      clear:none;
   }
   .box-image-pengumuman {
       width: 100%;
   }
   .box-image-detail-news {
       margin: auto;
       width: 280px;
       height: 280px;
       margin-bottom: 15px;
       float: none;
   }
   .frame-detail-news h3 {
       font-size: 20px;
   }
   .box-image-news {
       float: none;
       margin: auto;
       margin-bottom: 15px;
   }
   .box-konten {
       margin-left: auto;
   }
   .box-konten h3{
      font-size: 20px;
   }
   .box-txt-1 h3 {
      font-size: 20px;
  }
  .box-txt-1 {
      margin-left: 0;
      height: auto;
  }
  .box-btn-footer-1 {
      position: relative;
  }
  
   .owl-carousel:hover .owl-nav .owl-next {
       left: auto;
       right: 0;
   }
   .owl-carousel:hover .owl-nav .owl-prev {
       left: 0;
       right: auto;
   }
   .box-konten-2 {
       position: relative;
       
       margin: auto;
       margin-left: auto;
   }
   .item .circle-image-2 {
      
       position: relative;
       margin: auto;
       margin-bottom: 20px;
       margin-top: 10px;
   }
   .head-member-2{
      border-radius: 20px;
   }
   .head-member-3{
      border-radius: 20px;
   }
   .padding-member-right {
       padding-left: 15px;
       border-left: 0px dashed #fff;
   }
   .padding-member-center {
       padding-left: 15px;
       padding-right: 15px;
       border-left: 0px dashed #fff;
   }
   .padding-member-left {
       padding-right: 15px;
   }
   .circle-img-1 {
       width: 70px;
       height: 70px;
   }
   .head-member-1 {
       border-radius: 20px;
   }
   .konten-img-1 h3 {
       font-size: 14px;
   }
   .konten-img-2 h3 {
       font-size: 14px;
   }
   .konten-img-1 p {
       font-size: 11px;
   }
   .konten-img-2 p {
       font-size: 11px;
   }
   .img-slider-2 {
       height: 250px;
   }
   .panel-body-height {
       height: auto;
   }
   .news-img {
       padding-right: 15px;
   }
   
   .img-link-news {
       width: 170px;
       height: 170px;
   }
   
   .box-event h4 {
       font-size: 15px;
   }
  .navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #eee;
    padding: 10px 0;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px){
  .modal-content.modal-content-custom {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    width: 95%;
    margin: auto;
  }
}
@media(max-width: 550px){
   .item .circle-image {
       overflow: hidden;
       display: block;
       width: 200px;
       margin: auto;
       margin-left: auto;
       height: 200px;
       float: none;
   }
   .item .box-konten {
      position: relative;
       transform: none;
       top: auto;
       left: auto;
       margin: auto;
       margin-left: auto;
       
       width: auto;
   }
   .slider-event .carousel-indicators {
       position: absolute;
       bottom: -30px;
       
   }
   .item .box-number {
      /* width: 100px;
       height: 100px;
       
        top: auto; 
        margin-left: auto; 
       bottom: 50%;*/
       display: none;
       
   }
   .tab-menu-custom .nav-tabs>li:first-child>a {
       border-radius: 30px 30px 0 0px;
   }
   .tab-menu-custom .nav-tabs>li:last-child>a {
       border-radius: 0 0 30px 30px;
   }
}

@media (min-width: 475px) and (max-width: 767px){
  .frame-video {
    display: block;
    width: 390px;
    height: 250px;
    margin: auto;
  }
}