
/*======================================
    GENERAL STYLES
======================================= */

/*@import url(http://fonts.googleapis.com/css?family=Slabo+27px);*/

body {
    font-family: 'Slabo 27px', serif;
    font-size:16px;
    background-color: #EAEAEA;
}

.pad-top {
    padding-top:30px;
}
.pad-bottom {
     padding-bottom:50px;
}
.font-big {
    font-size:20px;
}
.outer-section {
     border:1px solid #dedede;
     background-color: #fff;
}