@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-Regular.ttf'); 
 }
@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-Bold.ttf');
	 font-weight: 600;
}
@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-BoldItalic.ttf');
	 font-weight: 700;
	 font-style: italic;
}
@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-ExtraBold.ttf');
	 font-weight: 700;
}
@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-ExtraBoldItalic.ttf');
	 font-weight: 700;
	 font-style: italic;
}
@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-Italic.ttf');
	 font-style: italic;
}
@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-Light.ttf');
	 font-weight: 300;
}
@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-LightItalic.ttf');
	 font-weight: 300;
	 font-style: italic;
}

@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-Semibold.ttf');
	 font-weight:500;
}

@font-face {
	 font-family: "font open sans";
	 src: url('OpenSans-SemiboldItalic.ttf');
	 font-weight: 500;
	 font-style: italic;
}