@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url(7Au9p_AqnyWWAxW2Wk3GzWQOElsO0w.woff) format('woff');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: url(7Au4p_AqnyWWAxW2Wk3OPkcdP3kF-Vs48Q.woff) format('woff');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: url(7Au4p_AqnyWWAxW2Wk3OdkEdP3kF-Vs48Q.woff) format('woff');
}